 
.icon-large-r-w-arrow {
	background-image: url('png/large-r-w-arrow.png');
	background-repeat: no-repeat;
}

 
.icon-helmet {
	background-image: url('png/helmet.png');
	background-repeat: no-repeat;
}

 
.icon-flickr {
	background-image: url('png/flickr.png');
	background-repeat: no-repeat;
}

 
.icon-bottle-rocket-logo {
	background-image: url('png/bottle-rocket-logo.png');
	background-repeat: no-repeat;
}

 
.icon-br-logo {
	background-image: url('png/br-logo.png');
	background-repeat: no-repeat;
}

 
.icon-down-arrow {
	background-image: url('png/down-arrow.png');
	background-repeat: no-repeat;
}

 
.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}

 
.icon-space-thing {
	background-image: url('png/space-thing.png');
	background-repeat: no-repeat;
}

 
.icon-telescope {
	background-image: url('png/telescope.png');
	background-repeat: no-repeat;
}

 
.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}

 
.icon-rocket {
	background-image: url('png/rocket.png');
	background-repeat: no-repeat;
}

