/* BASE */

/*********************
GENERAL STYLES
*********************/
html {
	background: $white;
	}
body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	overflow-x: hidden;
}
html, body {
	height: 100%;
}


// JS MQ styles
   html {
        font-family: 'mobile';
    }

    * html { /* IE6 */
        font-family: 'desktop'
    }

    *+html { /* IE7 */
        font-family: 'desktop'
    }

    @media \0screen {
        html {  /* IE8 */
            font-family: 'desktop'
        }
    }

    /* Reset your font families here!
     ----------------------------------- */
    body {
        font-family: $serif;
    }

    /* Queries for supported browsers.
     ----------------------------------- */
    body:after {
        display: none;
    }

    @media screen and (min-width: $phone-landscape) {
        html {
            font-family: "skinny";
        }
        body:after {
            content: "skinny";
        }
    }

    @media screen and (min-width: $desktop) {
        html {
            font-family: "desktop";
        }
        body:after {
            content: "desktop";
        }
    }



@media only screen and (min-width: $tablet) {

	// Grid

	.onecol    { width: 5.801104972%;  }       /* 4.85%;  } /* grid_1  */
	.twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
	.threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
	.fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
	.fivecol   { width: 40.055248616%; }       /* 39.45%; } /* grid_5  */
	.sixcol    { width: 48.618784527%; }       /* 48%;    } /* grid_6  */
	.sevencol  { width: 57.182320438000005%; } /* 56.75%; } /* grid_7  */
	.eightcol  { width: 65.74585634900001%; }  /* 65.4%;  } /* grid_8  */
	.ninecol   { width: 74.30939226%; }        /* 74.05%; } /* grid_9  */
	.tencol    { width: 82.87292817100001%; }  /* 82.7%;  } /* grid_10 */
	.elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
	.twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */

	// layout & column defaults
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
	  position: relative;
	  float: left;
	  margin-left: 2.762430939%;
	}

	.first {
	  margin-left: 0;
	}

	.last {
	  float: right;
	}

}// * BP

// Put images to display: block to get rid of hidden space (cause I have never had it any other way).
img {
	display: block;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	margin: 0 auto;
	width: 96%;

	@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
		max-width: $site-width;
		}// * BP

	}// wrap

/*********************
LINK STYLES
*********************/

a, a:visited {
	//color: $link-color;
	@include hovers();

	/* on hover */
	&:hover, &:focus {
		//color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}



/*********************
HEADER SYTLES
*********************/



/*********************
POSTS & CONTENT STYLES
*********************/

.plus {
	//width: 56px;
	height: 100%;
	min-height: 56px;
	background: url('../img/red-plus.png') no-repeat scroll center center transparent;
}





/********************
NEWS
********************/
.news-article{
	padding: 5em 0;
}



