/********************
BUTTONS AND FORMS
********************/
.buttons{
	padding: 5em 0;
	@include breakpoint($tablet) {
		padding: 5em 6em;
	}
	@include breakpoint($desktop) {
		padding: 5em 15em;
	}
	input[type=text]{
		width:100%;
		margin-bottom: $margin;
		background: transparent;
		border: none;
		height: 55px;
		padding-left:15px;
		border: 4px solid $red;
	}
}// buttons


.button-one-wrap {
	margin-bottom: $margin2x;

}
.button-one {
	border: 4px solid $red;
	cursor: pointer;
	@include hovers(.1s);

	span {
		color: $red;
		font-size: 20px;
		font-weight: 500;
		line-height: 2.3;
		text-indent: 10px;
		float: left;
		width: 75%;
		display: block;

	}
	.icon-r-arrow-btn {
		float: right;
		@include hovers(.1s);
		&:hover {

		}
	}

	&:hover {
		background: $red;
		span {
			color: $darkred;
		}
	}// hover
	&:active, &:focus {
		border: 4px solid $redhover;
		background: $redhover;
		span {
			color: $red;
		}
	}
}

.button-two-wrap {
}
.button-two {
	padding: 1px 10px;
	font-size: 18px;
	font-weight: 500;
	background: $red;
	color: $darkred;
	border: 4px solid $red;
	float: left;
	margin-top: $margin;
	text-decoration: none;
	@include hovers;
	&:hover {
		cursor: pointer;
		color: $red;
		background: $white;


	}
}





.btn {

	border: none;
	//font-family: inherit;
	//font-size: inherit;
	//color: inherit;
	//background: none;
	cursor: pointer;
	//padding: 25px 80px;
	//display: inline-block;
	//margin: 15px 30px;
	//text-transform: uppercase;
	//letter-spacing: 1px;
	//font-weight: 700;
	outline: none;
	position: relative;
	@include hovers(.2s);
}



.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 1 */
.btn-1 {

	z-index: 10;
	background: transparent;
	font-weight: 700;
	color: $darkred;
	text-decoration: none;
	border: 4px solid $darkred;
	padding: 2px 12px;
	display: inline-block;
	margin: 1rem auto;
	letter-spacing: .05em;
	@include hovers(.2s);
	&:hover {
		background: $darkred;
		color: $red;
	}
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1b */
.btn-1b:after {
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background: $darkred;
}

.btn-1b:hover,
.btn-1b:active {
	color: $red;
}

.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}


/* Button 1c */
.btn-1c {
	border: 4px solid $red;
	font-size: 18px;
	font-weight: 500;
	&:hover {
		background: transparent;
		color: $red;
	}
	&:active, &:focus {
		color: $darkred;
		border: 4px solid $darkred;
		&:after {
			height: 0;
		}
	}
	//background: $red;
}
.btn-1c:after {

	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background: $red;
}

// .btn-1c:hover,
// .btn-1c:active {
// 	color: $darkred;
// }

.btn-1c:hover:after,
.btn-1c:active:after {
	height: 0%;
}

















.forms-wrap {
	float: none!important;
	margin: 0 auto;
	padding: 0 $margin2x;
	@include breakpoint($tablet) {
		padding: 0 $margin2x;
		}// bp
}
[placeholder] {
	color: $red;
	font-size: 20px;
	//line-height: 1;
	}

::-webkit-input-placeholder {
	@include rem-fallback(font-size, 1);
	//text-transform: uppercase;
	color: $red;
	font-size: 20px;
	//line-height: 1;
	}

:-moz-placeholder { /* Firefox 18- */
	@include rem-fallback(font-size, 1);
	//text-transform: uppercase;
	color: $red;
	font-size: 20px;
	//line-height: 1;
	}

::-moz-placeholder {  /* Firefox 19+ */
	@include rem-fallback(font-size, 1);
	color: $red;
	font-size: 20px;
	//line-height: 1;
	}

:-ms-input-placeholder {
	@include rem-fallback(font-size, 1);
	color: $red;
	font-size: 20px;
	//line-height: 1;
	}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s 0.2s ease-in-out;
  opacity: 0;
}

.name-form:focus::-webkit-input-placeholder {
  	transition: text-indent 0.3s 0.2s ease-in-out;
  	text-indent: 80%;
  	opacity: 1;
	color: $text-color;
	font-size: 20px;
	//line-height: 1;
}