
/********************
COPY STYLES
********************/

.copy{
	min-height: 350px;
	padding: 5em 0;

	.fourcol{
		margin-top:37px;
	}
	.wrap {
		height: 15vh;
	}
	h1 {
		text-align: center;
	}
	p {
		text-align: center;
		line-height: 2;
	}
}
