//****************** FEATURE HEADER *******************

.feature-header{
	background: url('../img/spaceman-slide.jpg') no-repeat scroll left top $red;
	width:100%;
	height:100%;
	//background-repeat:no-repeat;
	//background-position: center center;
	background-size: cover;
	overflow: hidden;
	position: relative;

	img{
		width:100%;
		height:100%;
	}
	// space man
    .backup {
    	display: block;
    	max-width: 100%;
    	height: auto;
    	@include breakpoint($desktop) {
    		display: none;
    	}
    }
	video {
		display: none;
		@include breakpoint($desktop) {
    	display: block;
    	height: 100%;
    	width: 100%;
    	transform: scale(1.2);
	   	transform-origin: 30% 50%;
	   }// bp
    }// video

    color: $white;

    h2 {
	  position: absolute;
	  margin: auto;
	  //width: 100%;
	  top: 40%;
	  left: 7%;
	  //transform: translate(-50%, -50%);
	  z-index: 2;
	  //transform-origin: 50% 50% 0;
	  line-height: 1;

    	@include breakpoint($phone-landscape) {
    		font-size: 3rem;
    		font-weight: 700;
    		}// bp
       	@include breakpoint($tablet) {
			font-size: 8rem;
			font-weight: 900;
			line-height: .9;
			right: auto;
			left: 50%;
			top: 26%;
    		}// bp
    	@include breakpoint($desktop) {
			// font-size: 8rem;
			// line-height: .8;
			// right: auto;
			// left: 50%;
			// top: 26%;
    		}// bp
    }

}