//****************** FEATURE HEADER *******************

.feature-header{
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position:relative;

	img{
		width:100%;
		height:100%;
	}
	video {
    	height: 100%;
    	width: 100%;
    	transform: scale(1.2);
    	-webkit-transform: scale(1.2);
    	 transform-origin: 30% 50%;
		-webkit-transform-origin: 30% 50%;
    }
}

// video#bgvid {
// position: fixed; right: 0; bottom: 0;
// min-width: 100%; min-height: 100%;
// width: auto; height: auto; z-index: -100;
// background: url(library/img/slider-1.jpg) no-repeat;
// background-size: cover;
// }
// source{

// }
//****************** ICONS *******************

.icons{
	background: #000000;
	padding: 5em 0;
	ul{
	}

	li{
		text-align: center;
		margin-bottom: 1.25em;
		@include breakpoint($tablet, $no-query: '.no-mediaqueries') {
			margin-bottom: 0;
		}
	}
	img{
		margin: 0 auto;
	}
}

//****************** COPY *******************

.copy{
	padding: 5em 0;

	.fourcol{
		margin-top:37px;
	}
}

//****************** CASE STUDY INDEX *******************

.case-study-index {
	height: auto;
	width:100%;

	h2 {
		@include rem-fallback(font-size, 2.5);
		text-transform: uppercase;
		color: $white;
		font-weight: 300;
		letter-spacing: .1em;
	}

	.case-studies a {
		overflow:hidden;
		display:block;
		position:relative;
		width:100%;
		height:auto;
		float:left;

		@include breakpoint(40em) {
			width:50%;
		}

		@include breakpoint($desktop, $no-query: '.no-mediaqueries') {
			width:33.3333333%;
		}

		&:hover{
			li{
				@include transform(scale(1.1));

			}

			.overlay{
				opacity: .8;
				color: red;
			}

			.overlay-text{
				opacity: 1;
				vertical-align: middle;
			}
		}

	}

	ul{
		margin:1.25em;
	}

	li{
		width:100%;
		@include transition(transform, 0.35s, ease-in-out);
		@include transform(scale(1));
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
	}

	img{
		width: 100%;
	}

}

.overlay{
    position: absolute;
    width:100%;
    height:100%;
    opacity: 0;
    //background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    // background-image: -webkit-linear-gradient(top,#37B34A 0,#00B495 100%);
    // background-image: -moz-linear-gradient(top,#37B34A 0,#00B495 100%);
    // background-image: -o-linear-gradient(top,#37B34A 0,#00B495 100%);
    // background-image: linear-gradient(to bottom,#37B34A 0,#00B495 100%);
    background-color:red;
    @include transition(opacity, 0.35s, ease-in-out);

}

.overlay-text{
    color: $white;
    font-weight:800;
    position: absolute;
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    margin-top: -30px;
    top: 50%;
    margin-left: -5px;
    @include transition(opacity, 0.35s, ease-in-out);
    @include rem-fallback(font-size, 2.5);
    @include breakpoint($tablet, $no-query: '.no-mediaqueries') {
        margin-top: -47px;
        @include rem-fallback(font-size, 3.5);
    }
}


//****************** BUTTONS AND FORMS *******************
.buttons{
	padding: 5em 0;

	input[type=text]{
		width:100%;
		margin-bottom:1.75em;
		background:#e9e9eb;
		border: none;
		height: 55px;
		padding-left:15px;
	}
}

//****************** SLIDER *******************
.slider{
	margin-bottom:0;

	img{
		width:100%;
	}
}

.slick-dots{
	margin: 0;
	bottom: 15px;
}

.slick-prev{
	left:0;
}

.slick-next{
	right:0;

}

//****************** NEWS *******************
.news-article{
	padding: 5em 0;
}
