#logo {
	@extend .image-replacement;
	}

/********************
ICON SECTION STYLES
********************/

.section.icons {
	position: relative;
	overflow: hidden;
	background: url('../img/circles-backup-black.jpg') repeat scroll 0 0 $black;
	@include breakpoint($tablet) {
		background: linear-gradient(lighten($black, 5%), $black, $black);
	}
}

.icons{
	//background: $red;
	padding: 5em 0;
	z-index: 2;
		@include breakpoint($tablet-portrait) {
	    width: 100%;
	    padding: 0;

	    //min-height: $icons-height;
	    //display: table;
	}// * BP

	ul {
		position: relative;
		z-index: 22;
		width: 100%;
		text-align: center;
		@include breakpoint($tablet-portrait) {
			//display: table-cell;
			//vertical-align: middle;

			text-align: center;
			&:first-of-type {
				margin-top: 5em;
			}
			&:last-of-type {
				margin-bottom: 5em;
			}
		}// * BP
	}// ul

	li{
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 1.25em;
		@include breakpoint($tablet-portrait) {
		    display: inline-block;
		    margin: 0 2%;
	   		vertical-align: middle;
	   		@include hovers;
			&:hover {
				//cursor: pointer;
				//opacity: .8;
			}
		}
	}// li

}// icons

.footer-icons {
	width: 100%;
	text-align: center;
	@include breakpoint(768px) {
		//margin-top: $margin2x;
		float: right;
		text-align: right;
		width: 300px;

	}
	@include breakpoint($tablet) {
	}
	// 	ul {
	// 	text-align: center;
	// 	position: relative;
	// 	z-index: 22;
	// 	width: 100%;
	// 	//text-align: center;
	// 	@include breakpoint($tablet) {
	// 		//display: table-cell;
	// 		//vertical-align: middle;
	// 		text-align: right;

	// 		text-align: center;
	// 		&:first-of-type {
	// 			margin-top: 5em;
	// 		}
	// 		&:last-of-type {
	// 			margin-bottom: 5em;
	// 		}
	// 	}// * BP
	// }// ul

	li{
		display: inline-block;
		margin: 0 2%;
		text-align: center;
		margin-bottom: 0;
		@include breakpoint($tablet) {
		    display: inline-block;
		    margin: 0 2%;
    		margin-bottom: 1.25em;
	   		vertical-align: middle;
	   		@include hovers;
			&:hover {
				//cursor: pointer;
				//opacity: .8;
			}
		}
	}// li

}

canvas#text {
	display: none;
}
canvas#stage {
	display: none;
	@include breakpoint($tablet) {
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		}// bp
}
canvas#stagetwo {
	display: none;
	@include breakpoint($tablet) {
		display: block;
		float: left;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		}// bp
}




////////////// ICONS

.icon-large-r-arrow {
	width: 144px; height: 219px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20143.9%20219%22%20enable-background%3D%22new%200%200%20143.9%20219%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23D61C24%22%20d%3D%22M37.8%2C3.9H14.3C4%2C3.9-1.3%2C16.3%2C5.9%2C23.7l76.3%2C79.4c4.3%2C4.5%2C4.3%2C11.7%2C0%2C16.2L9.3%2C195.3%0D%0A%09c-7.1%2C7.4-1.9%2C19.8%2C8.4%2C19.8h23.5c3.2%2C0%2C6.2-1.3%2C8.4-3.6l88.4-92.1c4.3-4.5%2C4.3-11.7%2C0-16.2L46.2%2C7.5C44%2C5.2%2C41%2C3.9%2C37.8%2C3.9z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;


}


.icon-large-r-w-arrow {
	width: 75px; height: 115px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2075%20114.1%22%20enable-background%3D%22new%200%200%2075%20114.1%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M20.1%2C3.5H8.2c-5.2%2C0-7.9%2C6.3-4.3%2C10l38.7%2C40.3c2.2%2C2.3%2C2.2%2C5.9%2C0%2C8.2l-37%2C38.5c-3.6%2C3.8-0.9%2C10%2C4.3%2C10h11.9%0D%0A%09c1.6%2C0%2C3.2-0.7%2C4.3-1.8L71.1%2C62c2.2-2.3%2C2.2-5.9%2C0-8.2L24.4%2C5.3C23.3%2C4.1%2C21.8%2C3.5%2C20.1%2C3.5z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}


.icon-helmet {
	width: 139px; height: 139px;
	//width: 111px; height: 111px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 138.5 138.5" enable-background="new 0 0 138.5 138.5" xml:space="preserve">
<g>
	<g>
		<path fill="#{$red}" d="M69.2,137.8c-37.8,0-68.5-30.7-68.5-68.5S31.4,0.7,69.2,0.7s68.5,30.7,68.5,68.5S107,137.8,69.2,137.8z
			 M69.2,7.9C35.4,7.9,7.9,35.4,7.9,69.2s27.5,61.4,61.4,61.4s61.4-27.5,61.4-61.4S103.1,7.9,69.2,7.9z"/>
		<path fill="#{$red}" d="M108.6,88.2c0,0,1.5-2.7,2.8-7.3c1.3-4.1,2-8.4,2-12.9c0-6.6-1.5-12.9-4.3-18.4c-0.2-0.5-0.4-0.9-0.5-1.4
			c0,0-0.1,0-0.1,0c-0.9-1.7-2-3.4-3.1-4.9c0.1,0,0.1,0,0.2,0c0.9-0.2,1.6-1.1,1.4-2c-0.2-0.9-1.1-1.6-2-1.4c-0.7,0.1-1.3,0.3-2,0.4
			C95.2,31.6,84,26.1,71.4,26.1c-10,0-19.2,3.5-26.4,9.4L4.2,22.4L31,43.5l-9.3,5.3l9.5,7.5c-1.1,3.7-1.7,7.6-1.7,11.7
			c0,6.2,1.4,12,3.8,17.3c-0.8,0.1-1.6,0.6-2.1,1.3c-0.4,0.6-0.6,1.3-0.6,2c-0.8,0.4-1.5,1-2,1.7c-0.9,1.2-1.3,2.7-1.1,4.3
			c0.2,1.5,1,2.8,2.3,3.8C30.5,98.9,50,113,87.5,113c2.9,0,5.9-0.1,8.8-0.3c3.2-0.2,5.6-2.9,5.4-6c0-0.7-0.2-1.5-0.5-2.1
			c0.6-0.6,0.9-1.5,0.9-2.4c-0.1-1.5-1.2-2.7-2.6-3c0.9-0.8,1.7-1.6,2.5-2.5c0.4,0.1,0.8,0.2,1.2,0.3c0.1,0,0.2,0,0.3,0
			c0.8,0,1.5-0.6,1.7-1.4c0.1-0.7-0.2-1.4-0.8-1.8c1.4-1.8,2.7-3.7,3.8-5.7C108.4,88.2,108.6,88.2,108.6,88.2z M104.7,57.2
			c-0.3-0.8,0.1-1.7,0.8-2c0.8-0.3,1.7,0,2,0.8c0.2,0.5,4.8,11.9-0.4,24c-0.3,0.6-0.8,0.9-1.4,0.9c-0.2,0-0.4,0-0.6-0.1
			c-0.8-0.3-1.1-1.2-0.8-2C109,68,104.8,57.3,104.7,57.2z M71.4,29.5c10.9,0,20.7,4.5,27.7,11.8c-12.6,4-27.4,13.6-34.6,18.6
			c-1.1-0.8-2.2-1.4-3.5-1.7L45.4,45.7l11.4-6.5L49,36.7C55.3,32.2,63.1,29.5,71.4,29.5z M57.5,66.9c1.7,0,3,1.3,3,3
			c0,1.7-1.3,3-3,3s-3-1.3-3-3C54.5,68.3,55.8,66.9,57.5,66.9z M96.1,108.9c-2.9,0.2-5.8,0.2-8.6,0.2c-2.4,0-4.8-0.1-7-0.2
			c-1.5-0.1-2.9-0.2-4.2-0.3c-0.3,0-0.6,0-0.8-0.1c-0.6-0.1-1.1-0.1-1.7-0.2c-0.3,0-0.6-0.1-0.9-0.1c-0.6-0.1-1.1-0.1-1.6-0.2
			c-0.3,0-0.6-0.1-0.8-0.1c-1.8-0.2-3.6-0.5-5.3-0.8c-0.3,0-0.5-0.1-0.8-0.1c-0.5-0.1-0.9-0.2-1.4-0.3c-0.3-0.1-0.6-0.1-0.9-0.2
			c-0.4-0.1-0.9-0.2-1.3-0.3c-0.3-0.1-0.6-0.1-0.9-0.2c-0.4-0.1-0.8-0.2-1.2-0.3c-0.3-0.1-0.6-0.2-1-0.2c-0.7-0.2-1.3-0.3-1.9-0.5
			c-0.3-0.1-0.6-0.2-0.9-0.3c-0.3-0.1-0.7-0.2-1-0.3c-0.3-0.1-0.6-0.2-0.9-0.3c-0.3-0.1-0.6-0.2-0.9-0.3c-0.3-0.1-0.6-0.2-0.9-0.3
			c-0.3-0.1-0.6-0.2-0.9-0.3c-11.5-3.8-17.5-8.1-17.9-8.4c-0.4-0.3-0.7-0.7-0.7-1.2c-0.1-0.5,0-1,0.3-1.4c0.3-0.4,0.7-0.6,1.2-0.7
			c4.5,2.9,23.6,14,57.2,14c2.3,0,4.8-0.1,7.2-0.2c0.3,0.3,0.5,0.7,0.6,1.2C97.9,107.9,97.1,108.8,96.1,108.9z M93.8,99.3
			c-19.1,0.5-33.4-2.9-42.3-5.9c-6.2-2.1-10.6-4.4-13.2-5.8C34.9,81.8,33,75.2,33,68c0-3.2,0.4-6.4,1.2-9.3l11.3,8.9
			c-0.1,0.8-0.2,1.5-0.2,2.4c0,6.8,5.5,12.3,12.3,12.3c3.3,0,6.4-1.3,8.6-3.5c5.3,4.2,17.6,12.8,32,17C96.7,97,95.3,98.2,93.8,99.3z
			 M100.8,92.9C86.3,89.1,73.5,80.1,68.2,76c1-1.8,1.6-3.8,1.6-6c0-2.9-1-5.5-2.6-7.6c7.5-5.2,22.6-14.7,34.5-18.2
			c1.2,1.5,2.3,3.1,3.2,4.8c-8.5,2-28.8,8-28,20.7c0.8,12.4,19.3,16.7,27.7,18C103.4,89.6,102.1,91.3,100.8,92.9z"/>
	</g>
</g>
</svg>
');
	background-repeat: no-repeat;
			&:hover {
// 		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 110.6 110.6" enable-background="new 0 0 110.6 110.6" xml:space="preserve"><g>
// 	<path fill="#{$redhover}" d="M55.3,108.4C26,108.4,2.2,84.6,2.2,55.3S26,2.2,55.3,2.2s53.1,23.8,53.1,53.1S84.6,108.4,55.3,108.4z
// 		 M55.3,7.7C29.1,7.7,7.8,29.1,7.8,55.3s21.3,47.6,47.6,47.6s47.6-21.3,47.6-47.6S81.5,7.7,55.3,7.7z"/>
// 	<path fill="#{$redhover}" d="M85.8,70c0,0,1.2-2.1,2.1-5.7c1-3.1,1.6-6.5,1.6-10c0-5.1-1.2-10-3.3-14.3c-0.1-0.3-0.3-0.7-0.4-1.1
// 		c0,0,0,0-0.1,0c-0.7-1.3-1.5-2.6-2.4-3.8c0,0,0.1,0,0.1,0c0.7-0.1,1.2-0.8,1.1-1.5c-0.1-0.7-0.8-1.2-1.5-1.1
// 		c-0.5,0.1-1,0.2-1.6,0.3c-6-6.7-14.7-11-24.4-11c-7.8,0-14.9,2.7-20.5,7.3L4.9,19l20.8,16.4l-7.2,4.1l7.3,5.8
// 		c-0.8,2.9-1.3,5.9-1.3,9c0,4.8,1,9.3,2.9,13.4c-0.6,0.1-1.2,0.4-1.7,1c-0.3,0.5-0.5,1-0.5,1.5c-0.6,0.3-1.1,0.7-1.5,1.3
// 		c-0.7,1-1,2.1-0.8,3.3c0.2,1.2,0.8,2.2,1.7,2.9c0.6,0.5,15.7,11.4,44.8,11.4c2.2,0,4.5-0.1,6.8-0.2c2.4-0.1,4.3-2.2,4.2-4.7
// 		c0-0.6-0.2-1.1-0.4-1.6c0.5-0.5,0.7-1.1,0.7-1.9c-0.1-1.2-0.9-2.1-2-2.3c0.7-0.6,1.3-1.2,2-1.9c0.3,0.1,0.6,0.1,0.9,0.2
// 		c0.1,0,0.2,0,0.3,0c0.6,0,1.2-0.4,1.3-1.1c0.1-0.6-0.1-1.1-0.6-1.4c1.1-1.4,2.1-2.8,2.9-4.4C85.7,70,85.8,70,85.8,70z M82.8,46
// 		c-0.3-0.6,0-1.3,0.7-1.6c0.6-0.3,1.3,0,1.6,0.6c0.2,0.4,3.7,9.3-0.3,18.6c-0.2,0.5-0.6,0.7-1.1,0.7c-0.2,0-0.3,0-0.5-0.1
// 		c-0.6-0.3-0.9-1-0.6-1.6C86.1,54.3,82.8,46.1,82.8,46z M57,24.5c8.4,0,16,3.5,21.5,9.2c-9.7,3.1-21.2,10.6-26.8,14.4
// 		C50.9,47.5,50,47,49,46.7l-12.2-9.6l8.9-5l-6-1.9C44.5,26.6,50.5,24.5,57,24.5z M46.2,53.5c1.3,0,2.3,1,2.3,2.3s-1,2.3-2.3,2.3
// 		s-2.3-1-2.3-2.3S44.9,53.5,46.2,53.5z M76.1,86c-2.2,0.1-4.5,0.2-6.7,0.2c-1.9,0-3.7,0-5.5-0.1c-1.1-0.1-2.2-0.1-3.3-0.2
// 		c-0.2,0-0.4,0-0.7-0.1c-0.4,0-0.9-0.1-1.3-0.1c-0.2,0-0.5,0-0.7-0.1c-0.4,0-0.9-0.1-1.3-0.1c-0.2,0-0.4-0.1-0.7-0.1
// 		c-1.4-0.2-2.8-0.4-4.1-0.6c-0.2,0-0.4-0.1-0.6-0.1c-0.4-0.1-0.7-0.1-1.1-0.2c-0.2,0-0.5-0.1-0.7-0.1c-0.3-0.1-0.7-0.1-1-0.2
// 		c-0.2-0.1-0.5-0.1-0.7-0.2c-0.3-0.1-0.6-0.1-1-0.2c-0.3-0.1-0.5-0.1-0.7-0.2c-0.5-0.1-1-0.3-1.5-0.4C44.5,83.1,44.2,83,44,83
// 		c-0.3-0.1-0.5-0.1-0.8-0.2c-0.2-0.1-0.5-0.1-0.7-0.2c-0.2-0.1-0.5-0.1-0.7-0.2c-0.2-0.1-0.5-0.1-0.7-0.2c-0.2-0.1-0.4-0.1-0.7-0.2
// 		c-8.9-2.9-13.6-6.3-13.9-6.5c-0.3-0.2-0.5-0.6-0.6-0.9c-0.1-0.4,0-0.8,0.3-1.1c0.2-0.3,0.5-0.5,0.9-0.6
// 		c3.5,2.3,18.3,10.9,44.3,10.9c1.8,0,3.7-0.1,5.6-0.1c0.3,0.2,0.4,0.6,0.4,0.9C77.5,85.3,76.9,86,76.1,86z M74.3,78.6
// 		C59.5,79,48.4,76.4,41.6,74c-4.8-1.6-8.2-3.4-10.2-4.5c-2.6-4.4-4.2-9.6-4.2-15.2c0-2.5,0.3-4.9,0.9-7.2l8.7,6.9
// 		c-0.1,0.6-0.2,1.2-0.2,1.8c0,5.3,4.3,9.5,9.5,9.5c2.6,0,4.9-1,6.7-2.7c4.1,3.2,13.6,9.9,24.8,13.2C76.6,76.8,75.5,77.8,74.3,78.6z
// 		 M79.7,73.6c-11.2-2.9-21.1-9.9-25.3-13.1c0.8-1.4,1.2-3,1.2-4.7c0-2.2-0.8-4.2-2-5.9c5.8-4,17.5-11.4,26.7-14.1
// 		c0.9,1.2,1.8,2.4,2.5,3.7c-6.6,1.5-22.3,6.2-21.7,16.1c0.6,9.6,14.9,13,21.4,14C81.8,71,80.8,72.4,79.7,73.6z"/>
// </g>
// </svg>');
	}
}


.icon-flickr {
	width: 54px; height: 54px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53.3 53.3" enable-background="new 0 0 53.3 53.3" xml:space="preserve"><path fill="#{$grey}" d="M26.6,0.5c-14.4,0-26,11.7-26,26s11.7,26,26,26c14.4,0,26-11.7,26-26S41,0.5,26.6,0.5z M18.4,33.5
	c-3.8,0-6.9-3.1-6.9-6.9s3.1-6.9,6.9-6.9s6.9,3.1,6.9,6.9S22.2,33.5,18.4,33.5z M34.9,33.5c-3.8,0-6.9-3.1-6.9-6.9s3.1-6.9,6.9-6.9
	s6.9,3.1,6.9,6.9S38.7,33.5,34.9,33.5z"/>
</svg>
');
	background-repeat: no-repeat;

	&:hover {
// 		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53.3 53.3" enable-background="new 0 0 53.3 53.3" xml:space="preserve"><path fill="#{$redhover}" d="M26.6,0.5c-14.4,0-26,11.7-26,26s11.7,26,26,26c14.4,0,26-11.7,26-26S41,0.5,26.6,0.5z M18.4,33.5
// 	c-3.8,0-6.9-3.1-6.9-6.9s3.1-6.9,6.9-6.9s6.9,3.1,6.9,6.9S22.2,33.5,18.4,33.5z M34.9,33.5c-3.8,0-6.9-3.1-6.9-6.9s3.1-6.9,6.9-6.9
// 	s6.9,3.1,6.9,6.9S38.7,33.5,34.9,33.5z"/>
// </svg>
// ');
	}
}


.icon-bottle-rocket-logo {
	//width: 166px; height: 46px;
	//width: 332px; height: 92px;
		position: absolute;
		z-index: 9999999;
		top: 26px;
		left: 26px;
		cursor: pointer;
		@include hovers;
		//width: 110px; height: 110px;

		width: 78px; height: 77px;
		@include breakpoint($tablet) {
			//width: 110px; height: 110px;
			}// bp
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="441.7 241.5 77.1 77" enable-background="new 441.7 241.5 77.1 77" xml:space="preserve"><g><path fill="#{$white}" d="M480.3,317.5c-20.7,0-37.5-16.8-37.5-37.5s16.8-37.4,37.5-37.4c20.7,0,37.5,16.8,37.5,37.5
		C517.8,300.7,500.9,317.5,480.3,317.5z M480.3,247.2c-18.1,0-32.8,14.7-32.8,32.8c0,18.1,14.7,32.8,32.8,32.8
		c18.1,0,32.8-14.7,32.8-32.8C513.1,261.9,498.3,247.2,480.3,247.2z"/>
	<path fill="#{$white}" d="M467.7,278.9c2.5-4.8,5.7-7.1,9-7.1c5,0,7.5,3.8,7.5,9.2c0,7.9-6.4,17.4-15.8,17.4
		c-6.7,0-10.1-3.8-10.1-9.5c0-2.2,0.7-5.4,1.8-9.8l5.1-18.9l7.2,0.1h0.6L467.7,278.9z M465.9,290.3c0,2.8,1.2,4.2,2.9,4.2
		c4.4,0,7.3-9.1,7.3-13.4c0-2.9-1.1-4.2-2.8-4.2C469.4,276.9,465.9,285.1,465.9,290.3z"/>
	<path fill="#{$white}" d="M486.6,272.2l6.7-0.2c0,0-0.6,3.2-1.3,5.6c0,0,2.7-5.7,9-5.5c2.6,0.1,4.7,2,4.7,4.8c0,3-2.9,6.7-6.9,5
		c-0.1-0.1-0.4-0.3-0.2-0.4c0.8-1.2,1.3-2.6,1.1-3.7c-0.1-0.6-0.6-1-1.6-0.9c-3.3,0.4-6.2,4.2-9.7,21.3h-8.1L486.6,272.2z"/>
</g>
</svg>
');

	&:hover {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="441.7 241.5 77.1 77" enable-background="new 441.7 241.5 77.1 77" xml:space="preserve"><g><path fill="#{$red}" d="M480.3,317.5c-20.7,0-37.5-16.8-37.5-37.5s16.8-37.4,37.5-37.4c20.7,0,37.5,16.8,37.5,37.5
		C517.8,300.7,500.9,317.5,480.3,317.5z M480.3,247.2c-18.1,0-32.8,14.7-32.8,32.8c0,18.1,14.7,32.8,32.8,32.8
		c18.1,0,32.8-14.7,32.8-32.8C513.1,261.9,498.3,247.2,480.3,247.2z"/>
	<path fill="#{$red}" d="M467.7,278.9c2.5-4.8,5.7-7.1,9-7.1c5,0,7.5,3.8,7.5,9.2c0,7.9-6.4,17.4-15.8,17.4
		c-6.7,0-10.1-3.8-10.1-9.5c0-2.2,0.7-5.4,1.8-9.8l5.1-18.9l7.2,0.1h0.6L467.7,278.9z M465.9,290.3c0,2.8,1.2,4.2,2.9,4.2
		c4.4,0,7.3-9.1,7.3-13.4c0-2.9-1.1-4.2-2.8-4.2C469.4,276.9,465.9,285.1,465.9,290.3z"/>
	<path fill="#{$red}" d="M486.6,272.2l6.7-0.2c0,0-0.6,3.2-1.3,5.6c0,0,2.7-5.7,9-5.5c2.6,0.1,4.7,2,4.7,4.8c0,3-2.9,6.7-6.9,5
		c-0.1-0.1-0.4-0.3-0.2-0.4c0.8-1.2,1.3-2.6,1.1-3.7c-0.1-0.6-0.6-1-1.6-0.9c-3.3,0.4-6.2,4.2-9.7,21.3h-8.1L486.6,272.2z"/>
</g>
</svg>');

	}












	@include breakpoint($desktop) {
		transform: rotate(-90deg) translate3d(0px, -222px, 0);
		transform-origin: top right;
		cursor: pointer;
		@include hovers;
		width: 218px; height: 61px;
		//width: 286px; height: 79px;

	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="371.7 250.1 217.2 60.1" enable-background="new 371.7 250.1 217.2 60.1" xml:space="preserve">
<g>
	<g>
		<g>
			<path fill="#{$white}" d="M502.7,273.7l4.3-0.1c0,0-0.4,2-0.8,3.6c0,0,1.7-3.6,5.6-3.5c1.6,0,3,1.2,3,3.1s-1.9,4.3-4.4,3.1
				c-0.1,0-0.3-0.1-0.1-0.3c0.5-0.8,0.8-1.6,0.7-2.4c-0.1-0.4-0.4-0.7-1.1-0.5c-2.1,0.3-3.9,2.7-6.2,13.6h-5.1L502.7,273.7z"/>
			<path fill="#{$white}" d="M529.1,280.4c0,5.5-4.6,10.1-9.7,10.1c-4.3,0-7.1-2.8-7.1-6.7c0-5.5,4.6-10.1,9.7-10.1
				C526.3,273.6,529.1,276.4,529.1,280.4z M522.2,275.9c-3,0-4.7,6.8-4.7,9.8c0,2.1,0.8,2.7,1.9,2.7c3.1,0,4.7-6.8,4.7-9.8
				C524,276.4,523.2,275.9,522.2,275.9z"/>
			<path fill="#{$white}" d="M539.1,281.4c-0.1,0-0.3-0.1-0.1-0.3c0.5-0.8,2-2.3,1.1-4.2c-0.1-0.3-0.7-0.9-1.9-0.9c-3.1,0-5,4.4-5,7.8
				c0,3.1,2,4,3.8,4c2.4,0.1,6.3-1.3,8.1-6.3v3.2c-2.8,4.7-6,5.9-9.9,5.8c-4.2-0.1-7.1-2.4-7.1-6.4c0-5.6,4.7-10.3,9.9-10.3
				c3,0,5.5,1.6,5.5,4.6C543.5,279.5,541.8,282.6,539.1,281.4z"/>
			<path fill="#{$white}" d="M546.9,290.1h-5l5.5-20.8l0.8-3.2h5l-4.4,16.9L546.9,290.1z"/>
			<path fill="#{$white}" d="M564.6,283.5v0.3c0,3.1,2.1,3.9,3.8,3.9c2,0,6-0.8,8.1-6.3v3.2c-2.4,4-5.4,5.8-9.8,5.8
				c-4,0-7.2-2.4-7.2-6.4c0-5.4,4.6-10.5,10.5-10.5c3.4,0,5.4,1.6,5.4,4C575.2,280.7,572,283.4,564.6,283.5z M564.8,281.8
				c4.4-0.3,5.8-2.3,5.8-4.2c0-1.1-0.5-1.7-1.5-1.7C567.1,275.7,565.4,279,564.8,281.8z"/>
			<path fill="#{$white}" d="M553.6,282.8c0,3.1,1.7,5,4.3,5c2,0,4.3-0.8,6.4-6.3v3.2c-2.4,4-3.6,5.8-8.1,5.8c-4.4,0-7.5-3.1-7.5-7"/>
			<path fill="#{$white}" d="M547.8,285.4c-0.1-1.5,0.1-11,6.2-11.8c3.2-0.4,5.4,1.9,5.4,4c-0.1,3.1-3.2,5.6-10.6,5.9 M549.1,281.6
				c4.4-0.3,5.8-2.3,5.8-4.2c0-1.1-0.5-1.7-1.5-1.7C551.4,275.7,549.7,278.8,549.1,281.6z"/>
			<path fill="#{$white}" d="M577.1,277.6l-1.6,5.8c-0.3,1.1-0.5,2.3-0.5,3.1c0,2.8,2.8,3.9,5.4,3.9c3.4,0,5.9-2.1,7.5-6.3l-1.3-0.7
				c-0.9,2.5-2.4,4.3-4.4,4.2c-1.3,0-2-1.1-2-2c0-0.4,0.1-0.9,0.3-1.5l2.1-8.2h4.2l0.7-2.4h-4.2l1.9-7.1h-5l-1.9,7.1"/>
			<path fill="#{$white}" d="M574.6,273.4v0.3c0.9,0.4,3,2.5,1.6,6l2.4-3.9l0.7-2.4H574.6L574.6,273.4z"/>
		</g>
		<g>
			<g>
				<path fill="#{$white}" d="M378.8,278.1c1.6-3.1,3.6-4.6,5.8-4.6c3.2,0,4.7,2.4,4.7,5.8c0,5-4,11-10.1,11c-4.3,0-6.4-2.4-6.4-6
					c0-1.5,0.4-3.5,1.2-6.2l3.2-11.9h4.6h0.4L378.8,278.1z M377.6,285.3c0,1.7,0.8,2.7,1.9,2.7c2.8,0,4.6-5.8,4.6-8.5
					c0-1.9-0.7-2.7-1.7-2.7C379.9,276.8,377.6,282,377.6,285.3z"/>
				<path fill="#{$white}" d="M404.7,280.3c0,5.5-4.6,10.1-9.7,10.1c-4.3,0-7.1-2.8-7.1-6.7c0-5.5,4.6-10.1,9.7-10.1
					C401.9,273.6,404.7,276.4,404.7,280.3z M397.8,275.7c-3,0-4.7,6.8-4.7,9.8c0,2.1,0.8,2.7,1.9,2.7c3.1,0,4.7-6.8,4.7-9.8
					C399.6,276.3,398.8,275.7,397.8,275.7z"/>
				<path fill="#{$white}" d="M405.4,277.6l-1.6,5.8c-0.3,1.1-0.5,2.3-0.5,3.1c0,2.8,2.8,3.9,5.4,3.9c3.4,0,5.9-2.1,7.5-6.3l-1.3-0.7
					c-0.9,2.5-2.4,4.3-4.4,4.2c-1.3,0-2-1.1-2-2c0-0.4,0.1-0.9,0.3-1.5l2.1-8.2h4.2l0.7-2.4h-4.2l1.9-7.1h-5l-1.9,7.1"/>
				<path fill="#{$white}" d="M421.6,275.7h4.7l0.7-2.4h-4.7l1.9-7.1h-5l-1.9,7.1h-5.5c0.5,1.7,1.1,2.5,1.9,2.4h3.1l-2.1,7.6
					c-0.3,1.1-0.5,2.3-0.5,3.1c0,2.8,2.8,3.9,5.4,3.9c3.4,0,5.9-2.1,7.5-6.3l-1.3-0.7c-0.9,2.5-2.4,4.3-4.4,4.2c-1.3,0-2-1.1-2-2
					c0-0.4,0.1-0.9,0.3-1.5L421.6,275.7z"/>
				<path fill="#{$white}" d="M430.1,266.2h4.7h0.4l-4.8,17.7c-0.1,0.7-0.3,1.2-0.3,1.5c0,1.1,0.8,2.1,2.1,2.3c2,0,4.3-1.7,5.2-4.4
					l0.9,0.8c-1.6,4.2-5.1,6-7.9,6.3c-2.4,0.1-5.4-1.2-5.4-3.9c0-0.8,0.3-2.1,0.5-3.1L430.1,266.2z"/>
				<path fill="#{$white}" d="M403.4,273.3v0.1c0.8,0.4,2.7,2,1.3,6.3l2.4-3.9l0.7-2.4h-4.4V273.3z"/>
			</g>
			<path fill="#{$white}" d="M448.6,284.7c-2.1,2.7-4.7,3.1-6.3,3.1c-1.7,0-3.8-0.9-3.8-3.9v-0.3c7.4-0.3,10.6-2.8,10.6-5.9
				c0-2.3-1.9-4-5.4-4c-5.9,0-10.5,5.1-10.5,10.5c0,4,3.1,6.4,7.2,6.4c4.4,0,7.4-1.7,9.8-5.8l0,0h-1.7V284.7z M443.2,275.7
				c0.9,0,1.5,0.7,1.5,1.7c0,1.9-1.3,3.9-5.8,4.2C439.4,279,441.1,275.7,443.2,275.7z"/>
		</g>
	</g>
	<g>
		<g>
			<path fill="#{$white}" d="M467.8,297.7c-3.2-1.9-5.8-4.8-7.2-8.5c-1.7-4.3-1.7-9.1,0.1-13.4c2.7-6.4,9-10.5,15.7-10.7
				c0.4-0.9,0.9-2,1.5-2.8c-8.5-0.4-16.5,4.4-19.9,12.5c-4.2,9.8,0,21.1,9.1,25.9L467.8,297.7z"/>
			<path fill="#{$white}" d="M491.4,268.6c-0.3,1.1-0.7,2-1.1,3.1c3.9,4.8,5.1,11.7,2.5,17.8c-3.1,7.2-10.7,11.7-18.5,10.5
				c-0.4,0-0.8-0.1-1.3-0.3l-1.6,2.5c0.8,0.3,1.7,0.4,2.5,0.5c9.1,1.2,18-3.8,21.6-12.2C498.8,283,496.9,274.4,491.4,268.6z"/>
		</g>
		<path fill="#{$white}" d="M476.3,284.6c-1.1-0.4-2.1,0.1-2.5,1.2l-8.2,23.6c0,0.1,0,0.4,0.1,0.4c0.1,0.1,0.4,0,0.5-0.1l11.1-22.3
			c0-0.1,0.1-0.1,0.1-0.3C477.9,286.1,477.3,284.9,476.3,284.6z M475.9,286.6L475.9,286.6l-3.5,7.6c0,0,0,0-0.1,0c0,0,0,0,0-0.1
			l3-7.8c0-0.1,0.3-0.3,0.4-0.1C475.9,286.2,476,286.5,475.9,286.6z"/>
		<path fill="#{$white}" d="M491,250.4c0,0-8.3,6.2-12.6,16.4c-0.9,2.1-1.5,4.2-2,6.2c-1.7,1.5-3.5,3.4-5.1,5.5
			c-1.7,2.4-3.1,4.8-4.2,7.2c-0.3,0.5,0.4,0.9,0.8,0.5c2.5-2.5,5.2-4.4,7.4-5.6c0,0.7,0,1.3-0.1,2l0,0l0,0c0,0,0,0,0.1,0l0,0h0.1
			c0,0,0,0,0.1,0c0.1,0,0.1,0,0.3,0l0,0c0.1,0,0.1,0,0.3,0h0.1c0.1,0,0.1,0,0.3,0h0.1c0.1,0,0.1,0,0.3,0h0.1c0.1,0,0.3,0.1,0.4,0.1
			c1.1,0.5,1.5,1.6,1.5,1.6c0.3-0.3,0.7-0.7,0.9-1.1c0.4,2.3,0.8,5.2,0.8,8.6c0,0.5,0.7,0.7,0.9,0.1c0.9-2.4,2.1-5,2.7-7.8
			c0.4-2.4,0.5-4.8,0.4-7c1.2-1.9,2.4-3.9,3.4-6.2C492.4,260.7,491,250.4,491,250.4z M483.4,264.1c0.3-0.7,1.1-1.2,1.9-1.1l0,0l0,0
			l0,0c0.1,0,0.3,0,0.4,0.1l-1.3,3.2C483.4,265.9,483,265,483.4,264.1z M486.9,270.4c-2.1,5-5.2,9-7.8,11.7
			c-0.3-0.3-0.7-0.5-1.1-0.7c2-4.8,4-9.7,5.9-14.1l0,0c0.3,0.1,0.4,0.1,0.7,0.1c1.2,0.1,2.3-0.4,2.8-1.6c0.5-1.3,0-2.8-1.3-3.5l0,0
			c1.5-3.5,2.8-6.6,3.9-9.3C490,256.7,489.7,263.5,486.9,270.4z"/>
	</g>
</g>
</svg>
');// backghround-image

		&:hover {
				background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="371.7 250.1 217.2 60.1" enable-background="new 371.7 250.1 217.2 60.1" xml:space="preserve">
<g>
	<g>
		<g>
			<path fill="#{$red}" d="M502.7,273.7l4.3-0.1c0,0-0.4,2-0.8,3.6c0,0,1.7-3.6,5.6-3.5c1.6,0,3,1.2,3,3.1s-1.9,4.3-4.4,3.1
				c-0.1,0-0.3-0.1-0.1-0.3c0.5-0.8,0.8-1.6,0.7-2.4c-0.1-0.4-0.4-0.7-1.1-0.5c-2.1,0.3-3.9,2.7-6.2,13.6h-5.1L502.7,273.7z"/>
			<path fill="#{$red}" d="M529.1,280.4c0,5.5-4.6,10.1-9.7,10.1c-4.3,0-7.1-2.8-7.1-6.7c0-5.5,4.6-10.1,9.7-10.1
				C526.3,273.6,529.1,276.4,529.1,280.4z M522.2,275.9c-3,0-4.7,6.8-4.7,9.8c0,2.1,0.8,2.7,1.9,2.7c3.1,0,4.7-6.8,4.7-9.8
				C524,276.4,523.2,275.9,522.2,275.9z"/>
			<path fill="#{$red}" d="M539.1,281.4c-0.1,0-0.3-0.1-0.1-0.3c0.5-0.8,2-2.3,1.1-4.2c-0.1-0.3-0.7-0.9-1.9-0.9c-3.1,0-5,4.4-5,7.8
				c0,3.1,2,4,3.8,4c2.4,0.1,6.3-1.3,8.1-6.3v3.2c-2.8,4.7-6,5.9-9.9,5.8c-4.2-0.1-7.1-2.4-7.1-6.4c0-5.6,4.7-10.3,9.9-10.3
				c3,0,5.5,1.6,5.5,4.6C543.5,279.5,541.8,282.6,539.1,281.4z"/>
			<path fill="#{$red}" d="M546.9,290.1h-5l5.5-20.8l0.8-3.2h5l-4.4,16.9L546.9,290.1z"/>
			<path fill="#{$red}" d="M564.6,283.5v0.3c0,3.1,2.1,3.9,3.8,3.9c2,0,6-0.8,8.1-6.3v3.2c-2.4,4-5.4,5.8-9.8,5.8
				c-4,0-7.2-2.4-7.2-6.4c0-5.4,4.6-10.5,10.5-10.5c3.4,0,5.4,1.6,5.4,4C575.2,280.7,572,283.4,564.6,283.5z M564.8,281.8
				c4.4-0.3,5.8-2.3,5.8-4.2c0-1.1-0.5-1.7-1.5-1.7C567.1,275.7,565.4,279,564.8,281.8z"/>
			<path fill="#{$red}" d="M553.6,282.8c0,3.1,1.7,5,4.3,5c2,0,4.3-0.8,6.4-6.3v3.2c-2.4,4-3.6,5.8-8.1,5.8c-4.4,0-7.5-3.1-7.5-7"/>
			<path fill="#{$red}" d="M547.8,285.4c-0.1-1.5,0.1-11,6.2-11.8c3.2-0.4,5.4,1.9,5.4,4c-0.1,3.1-3.2,5.6-10.6,5.9 M549.1,281.6
				c4.4-0.3,5.8-2.3,5.8-4.2c0-1.1-0.5-1.7-1.5-1.7C551.4,275.7,549.7,278.8,549.1,281.6z"/>
			<path fill="#{$red}" d="M577.1,277.6l-1.6,5.8c-0.3,1.1-0.5,2.3-0.5,3.1c0,2.8,2.8,3.9,5.4,3.9c3.4,0,5.9-2.1,7.5-6.3l-1.3-0.7
				c-0.9,2.5-2.4,4.3-4.4,4.2c-1.3,0-2-1.1-2-2c0-0.4,0.1-0.9,0.3-1.5l2.1-8.2h4.2l0.7-2.4h-4.2l1.9-7.1h-5l-1.9,7.1"/>
			<path fill="#{$red}" d="M574.6,273.4v0.3c0.9,0.4,3,2.5,1.6,6l2.4-3.9l0.7-2.4H574.6L574.6,273.4z"/>
		</g>
		<g>
			<g>
				<path fill="#{$red}" d="M378.8,278.1c1.6-3.1,3.6-4.6,5.8-4.6c3.2,0,4.7,2.4,4.7,5.8c0,5-4,11-10.1,11c-4.3,0-6.4-2.4-6.4-6
					c0-1.5,0.4-3.5,1.2-6.2l3.2-11.9h4.6h0.4L378.8,278.1z M377.6,285.3c0,1.7,0.8,2.7,1.9,2.7c2.8,0,4.6-5.8,4.6-8.5
					c0-1.9-0.7-2.7-1.7-2.7C379.9,276.8,377.6,282,377.6,285.3z"/>
				<path fill="#{$red}" d="M404.7,280.3c0,5.5-4.6,10.1-9.7,10.1c-4.3,0-7.1-2.8-7.1-6.7c0-5.5,4.6-10.1,9.7-10.1
					C401.9,273.6,404.7,276.4,404.7,280.3z M397.8,275.7c-3,0-4.7,6.8-4.7,9.8c0,2.1,0.8,2.7,1.9,2.7c3.1,0,4.7-6.8,4.7-9.8
					C399.6,276.3,398.8,275.7,397.8,275.7z"/>
				<path fill="#{$red}" d="M405.4,277.6l-1.6,5.8c-0.3,1.1-0.5,2.3-0.5,3.1c0,2.8,2.8,3.9,5.4,3.9c3.4,0,5.9-2.1,7.5-6.3l-1.3-0.7
					c-0.9,2.5-2.4,4.3-4.4,4.2c-1.3,0-2-1.1-2-2c0-0.4,0.1-0.9,0.3-1.5l2.1-8.2h4.2l0.7-2.4h-4.2l1.9-7.1h-5l-1.9,7.1"/>
				<path fill="#{$red}" d="M421.6,275.7h4.7l0.7-2.4h-4.7l1.9-7.1h-5l-1.9,7.1h-5.5c0.5,1.7,1.1,2.5,1.9,2.4h3.1l-2.1,7.6
					c-0.3,1.1-0.5,2.3-0.5,3.1c0,2.8,2.8,3.9,5.4,3.9c3.4,0,5.9-2.1,7.5-6.3l-1.3-0.7c-0.9,2.5-2.4,4.3-4.4,4.2c-1.3,0-2-1.1-2-2
					c0-0.4,0.1-0.9,0.3-1.5L421.6,275.7z"/>
				<path fill="#{$red}" d="M430.1,266.2h4.7h0.4l-4.8,17.7c-0.1,0.7-0.3,1.2-0.3,1.5c0,1.1,0.8,2.1,2.1,2.3c2,0,4.3-1.7,5.2-4.4
					l0.9,0.8c-1.6,4.2-5.1,6-7.9,6.3c-2.4,0.1-5.4-1.2-5.4-3.9c0-0.8,0.3-2.1,0.5-3.1L430.1,266.2z"/>
				<path fill="#{$red}" d="M403.4,273.3v0.1c0.8,0.4,2.7,2,1.3,6.3l2.4-3.9l0.7-2.4h-4.4V273.3z"/>
			</g>
			<path fill="#{$red}" d="M448.6,284.7c-2.1,2.7-4.7,3.1-6.3,3.1c-1.7,0-3.8-0.9-3.8-3.9v-0.3c7.4-0.3,10.6-2.8,10.6-5.9
				c0-2.3-1.9-4-5.4-4c-5.9,0-10.5,5.1-10.5,10.5c0,4,3.1,6.4,7.2,6.4c4.4,0,7.4-1.7,9.8-5.8l0,0h-1.7V284.7z M443.2,275.7
				c0.9,0,1.5,0.7,1.5,1.7c0,1.9-1.3,3.9-5.8,4.2C439.4,279,441.1,275.7,443.2,275.7z"/>
		</g>
	</g>
	<g>
		<g>
			<path fill="#{$red}" d="M467.8,297.7c-3.2-1.9-5.8-4.8-7.2-8.5c-1.7-4.3-1.7-9.1,0.1-13.4c2.7-6.4,9-10.5,15.7-10.7
				c0.4-0.9,0.9-2,1.5-2.8c-8.5-0.4-16.5,4.4-19.9,12.5c-4.2,9.8,0,21.1,9.1,25.9L467.8,297.7z"/>
			<path fill="#{$red}" d="M491.4,268.6c-0.3,1.1-0.7,2-1.1,3.1c3.9,4.8,5.1,11.7,2.5,17.8c-3.1,7.2-10.7,11.7-18.5,10.5
				c-0.4,0-0.8-0.1-1.3-0.3l-1.6,2.5c0.8,0.3,1.7,0.4,2.5,0.5c9.1,1.2,18-3.8,21.6-12.2C498.8,283,496.9,274.4,491.4,268.6z"/>
		</g>
		<path fill="#{$red}" d="M476.3,284.6c-1.1-0.4-2.1,0.1-2.5,1.2l-8.2,23.6c0,0.1,0,0.4,0.1,0.4c0.1,0.1,0.4,0,0.5-0.1l11.1-22.3
			c0-0.1,0.1-0.1,0.1-0.3C477.9,286.1,477.3,284.9,476.3,284.6z M475.9,286.6L475.9,286.6l-3.5,7.6c0,0,0,0-0.1,0c0,0,0,0,0-0.1
			l3-7.8c0-0.1,0.3-0.3,0.4-0.1C475.9,286.2,476,286.5,475.9,286.6z"/>
		<path fill="#{$red}" d="M491,250.4c0,0-8.3,6.2-12.6,16.4c-0.9,2.1-1.5,4.2-2,6.2c-1.7,1.5-3.5,3.4-5.1,5.5
			c-1.7,2.4-3.1,4.8-4.2,7.2c-0.3,0.5,0.4,0.9,0.8,0.5c2.5-2.5,5.2-4.4,7.4-5.6c0,0.7,0,1.3-0.1,2l0,0l0,0c0,0,0,0,0.1,0l0,0h0.1
			c0,0,0,0,0.1,0c0.1,0,0.1,0,0.3,0l0,0c0.1,0,0.1,0,0.3,0h0.1c0.1,0,0.1,0,0.3,0h0.1c0.1,0,0.1,0,0.3,0h0.1c0.1,0,0.3,0.1,0.4,0.1
			c1.1,0.5,1.5,1.6,1.5,1.6c0.3-0.3,0.7-0.7,0.9-1.1c0.4,2.3,0.8,5.2,0.8,8.6c0,0.5,0.7,0.7,0.9,0.1c0.9-2.4,2.1-5,2.7-7.8
			c0.4-2.4,0.5-4.8,0.4-7c1.2-1.9,2.4-3.9,3.4-6.2C492.4,260.7,491,250.4,491,250.4z M483.4,264.1c0.3-0.7,1.1-1.2,1.9-1.1l0,0l0,0
			l0,0c0.1,0,0.3,0,0.4,0.1l-1.3,3.2C483.4,265.9,483,265,483.4,264.1z M486.9,270.4c-2.1,5-5.2,9-7.8,11.7
			c-0.3-0.3-0.7-0.5-1.1-0.7c2-4.8,4-9.7,5.9-14.1l0,0c0.3,0.1,0.4,0.1,0.7,0.1c1.2,0.1,2.3-0.4,2.8-1.6c0.5-1.3,0-2.8-1.3-3.5l0,0
			c1.5-3.5,2.8-6.6,3.9-9.3C490,256.7,489.7,263.5,486.9,270.4z"/>
	</g>
</g>
</svg>
');
		}// hover

	}// BP
	background-repeat: no-repeat;


}


.icon-br-logo {
	//width: 78px; height: 77px;
	width: 110px; height: 110px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 109.9 109.9" enable-background="new 0 0 109.9 109.9" xml:space="preserve">
<g>
	<path fill="#{$darkred}" d="M55,107.9c-29.2,0-53-23.8-53-53S25.7,2,55,2s53,23.8,53,53S84.2,107.9,55,107.9z M55,8.6
		C29.4,8.6,8.6,29.4,8.6,55s20.8,46.4,46.4,46.4s46.4-20.8,46.4-46.4S80.5,8.6,55,8.6z"/>
	<path fill="#{$darkred}" d="M37.3,53.4c3.6-6.8,8.1-10.1,12.7-10.1c7.1,0,10.6,5.4,10.6,13c0,11.2-9,24.6-22.3,24.6
		c-9.4,0-14.3-5.4-14.3-13.4c0-3.1,1-7.7,2.6-13.8L33.8,27L44,27.1h0.8L37.3,53.4z M34.7,69.5c0,4,1.7,5.9,4.1,5.9
		c6.2,0,10.3-12.8,10.3-19c0-4.1-1.5-6-3.9-6C39.6,50.5,34.7,62.2,34.7,69.5z"/>
	<path fill="#{$darkred}" d="M63.9,43.9l9.4-0.3c0,0-0.8,4.5-1.8,7.9c0,0,3.8-8.1,12.7-7.8c3.7,0.1,6.6,2.8,6.6,6.8c0,4.2-4.1,9.4-9.8,7
		c-0.2-0.1-0.5-0.4-0.3-0.6c1.1-1.7,1.9-3.7,1.5-5.2c-0.2-0.8-0.9-1.4-2.3-1.3c-4.7,0.5-8.7,6-13.7,30.1H54.8L63.9,43.9z"/>
</g>
</svg>
');
	background-repeat: no-repeat;

	&:hover {
// 	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
// 	 viewBox="0 0 109.9 109.9" enable-background="new 0 0 109.9 109.9" xml:space="preserve">
// <g>
// 	<path fill="#{$redhover}" d="M55,107.9c-29.2,0-53-23.8-53-53S25.7,2,55,2s53,23.8,53,53S84.2,107.9,55,107.9z M55,8.6
// 		C29.4,8.6,8.6,29.4,8.6,55s20.8,46.4,46.4,46.4s46.4-20.8,46.4-46.4S80.5,8.6,55,8.6z"/>
// 	<path fill="#{$redhover}" d="M37.3,53.4c3.6-6.8,8.1-10.1,12.7-10.1c7.1,0,10.6,5.4,10.6,13c0,11.2-9,24.6-22.3,24.6
// 		c-9.4,0-14.3-5.4-14.3-13.4c0-3.1,1-7.7,2.6-13.8L33.8,27L44,27.1h0.8L37.3,53.4z M34.7,69.5c0,4,1.7,5.9,4.1,5.9
// 		c6.2,0,10.3-12.8,10.3-19c0-4.1-1.5-6-3.9-6C39.6,50.5,34.7,62.2,34.7,69.5z"/>
// 	<path fill="#{$redhover}" d="M63.9,43.9l9.4-0.3c0,0-0.8,4.5-1.8,7.9c0,0,3.8-8.1,12.7-7.8c3.7,0.1,6.6,2.8,6.6,6.8c0,4.2-4.1,9.4-9.8,7
// 		c-0.2-0.1-0.5-0.4-0.3-0.6c1.1-1.7,1.9-3.7,1.5-5.2c-0.2-0.8-0.9-1.4-2.3-1.3c-4.7,0.5-8.7,6-13.7,30.1H54.8L63.9,43.9z"/>
// </g>
// </svg>
// ');
	}// hover
}// icon-br-logo


.icon-down-arrow {
	width: 43px; height: 43px;
	display: block;
	cursor: pointer;
	@extend .image-replacement;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2042.2%2042.2%22%20enable-background%3D%22new%200%200%2042.2%2042.2%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20fill%3D%22%23D61C24%22%20d%3D%22M2.2%2C21.1c0-10.4%2C8.5-18.9%2C18.9-18.9S40%2C10.7%2C40%2C21.1S31.5%2C40%2C21.1%2C40S2.2%2C31.5%2C2.2%2C21.1z%20M36%2C21.1%0D%0A%09%09c0-8.2-6.7-14.9-14.9-14.9S6.2%2C12.9%2C6.2%2C21.1S12.9%2C36%2C21.1%2C36S36%2C29.3%2C36%2C21.1z%22/%3E%0D%0A%09%3Cpath%20fill%3D%22%23D61C24%22%20d%3D%22M30.7%2C18.7v-2.2c0-1-1.2-1.5-1.9-0.8l-7.5%2C7.2c-0.4%2C0.4-1.1%2C0.4-1.5%2C0L12.7%2C16c-0.7-0.7-1.9-0.2-1.9%2C0.8%0D%0A%09%09v2.2c0%2C0.3%2C0.1%2C0.6%2C0.3%2C0.8l8.7%2C8.3c0.4%2C0.4%2C1.1%2C0.4%2C1.5%2C0l9-8.7C30.6%2C19.3%2C30.7%2C19%2C30.7%2C18.7z%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}


.icon-right-arrow {
	width: 43px; height: 43px;
	display: block;
	cursor: pointer;
	transform: rotate(-90deg);
	@include hovers;
	@extend .image-replacement;
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 42.2 42.2" enable-background="new 0 0 42.2 42.2" xml:space="preserve">
<g>
	<path fill="#{$red}" d="M2.2,21.1c0-10.4,8.5-18.9,18.9-18.9S40,10.7,40,21.1S31.5,40,21.1,40S2.2,31.5,2.2,21.1z M36,21.1
		c0-8.2-6.7-14.9-14.9-14.9S6.2,12.9,6.2,21.1S12.9,36,21.1,36S36,29.3,36,21.1z"/>
	<path fill="#{$red}" d="M30.7,18.7v-2.2c0-1-1.2-1.5-1.9-0.8l-7.5,7.2c-0.4,0.4-1.1,0.4-1.5,0L12.7,16c-0.7-0.7-1.9-0.2-1.9,0.8
		v2.2c0,0.3,0.1,0.6,0.3,0.8l8.7,8.3c0.4,0.4,1.1,0.4,1.5,0l9-8.7C30.6,19.3,30.7,19,30.7,18.7z"/>
</g>
</svg>
');
	background-repeat: no-repeat;

	&:hover {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 42.2 42.2" enable-background="new 0 0 42.2 42.2" xml:space="preserve">
<g>
	<path fill="#{$darkred}" d="M2.2,21.1c0-10.4,8.5-18.9,18.9-18.9S40,10.7,40,21.1S31.5,40,21.1,40S2.2,31.5,2.2,21.1z M36,21.1
		c0-8.2-6.7-14.9-14.9-14.9S6.2,12.9,6.2,21.1S12.9,36,21.1,36S36,29.3,36,21.1z"/>
	<path fill="#{$darkred}" d="M30.7,18.7v-2.2c0-1-1.2-1.5-1.9-0.8l-7.5,7.2c-0.4,0.4-1.1,0.4-1.5,0L12.7,16c-0.7-0.7-1.9-0.2-1.9,0.8
		v2.2c0,0.3,0.1,0.6,0.3,0.8l8.7,8.3c0.4,0.4,1.1,0.4,1.5,0l9-8.7C30.6,19.3,30.7,19,30.7,18.7z"/>
</g>
</svg>
');
	}
}
.icon-right-arrow-png {
	cursor: pointer;
	transform: rotate(-90deg);
}




.icon-r-arrow-smaller {
	width: 71px; height: 108px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%2070.4%20107.2%22%20enable-background%3D%22new%200%200%2070.4%20107.2%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3ClinearGradient%20id%3D%22SVGID_1_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-1.818989e-12%22%20y1%3D%2253.5852%22%20x2%3D%2270.4366%22%20y2%3D%2253.5852%22%3E%0D%0A%09%3Cstop%20%20offset%3D%220.1704%22%20style%3D%22stop-color%3A%239F0000%22/%3E%0D%0A%09%3Cstop%20%20offset%3D%220.2987%22%20style%3D%22stop-color%3A%23A80506%22/%3E%0D%0A%09%3Cstop%20%20offset%3D%220.5113%22%20style%3D%22stop-color%3A%23C21217%22/%3E%0D%0A%09%3Cstop%20%20offset%3D%220.6447%22%20style%3D%22stop-color%3A%23D51C24%22/%3E%0D%0A%3C/linearGradient%3E%0D%0A%3Cpath%20fill%3D%22url%28%23SVGID_1_%29%22%20d%3D%22M17.9%2C0H5.9C0.7%2C0-2%2C6.3%2C1.7%2C10l38.7%2C40.3c2.2%2C2.3%2C2.2%2C5.9%2C0%2C8.2l-37%2C38.5c-3.6%2C3.8-0.9%2C10%2C4.3%2C10%0D%0A%09h11.9c1.6%2C0%2C3.2-0.7%2C4.3-1.8l44.9-46.8c2.2-2.3%2C2.2-5.9%2C0-8.2L22.2%2C1.8C21%2C0.7%2C19.5%2C0%2C17.9%2C0z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
	background-repeat: no-repeat;
}






.icon-facebook {
	width: 54px; height: 54px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53.3 53.3" enable-background="new 0 0 53.3 53.3" xml:space="preserve"><path fill="#{$grey}" d="M26.6,0.6c-14.4,0-26,11.7-26,26c0,14.4,11.7,26,26,26c14.4,0,26-11.7,26-26C52.7,12.3,41,0.6,26.6,0.6z
	 M31.5,19.8h-2.2c-0.5,0-0.8,0.1-0.8,0.4v2.6h3.3c-0.1,2-0.4,4-0.4,4h-2.9v11h-5v-11h-2v-4h2v-3c0-0.6,0.2-4,4.9-4h3.1V19.8z"/>
</svg>
');
	background-repeat: no-repeat;

	&:hover {
// 		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53.3 53.3" enable-background="new 0 0 53.3 53.3" xml:space="preserve"><path fill="#{$redhover}" d="M26.6,0.6c-14.4,0-26,11.7-26,26c0,14.4,11.7,26,26,26c14.4,0,26-11.7,26-26C52.7,12.3,41,0.6,26.6,0.6z
// 	 M31.5,19.8h-2.2c-0.5,0-0.8,0.1-0.8,0.4v2.6h3.3c-0.1,2-0.4,4-0.4,4h-2.9v11h-5v-11h-2v-4h2v-3c0-0.6,0.2-4,4.9-4h3.1V19.8z"/>
// </svg>
// ');
	}
}


.icon-space-thing {
	width: 142px; height: 142px;
	//width: 110px; height: 110px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 141.4 141.4" enable-background="new 0 0 141.4 141.4" xml:space="preserve">
<g>
	<g>
		<g>
			<path fill="#{$red}" d="M108,77.5c-1.8-2.4-3.9-4.7-6.3-7.1c2.4-2.4,4.5-4.8,6.3-7.1c6.4-8.3,8.4-15.5,5.4-20
				c-1.3-2.1-4.4-4.6-11-4.6c-4.3,0-9.6,1.1-15.3,3c-0.5-2.1-1.1-4-1.8-5.9c-3.5-9.9-8.5-15.4-13.9-15.4S61,25.8,57.5,35.8
				c-0.7,1.8-1.2,3.8-1.8,5.9c-5.7-1.9-11-3-15.3-3c-6.7,0-9.7,2.5-11,4.6c-3,4.6-1,11.7,5.4,20c1.8,2.4,3.9,4.7,6.3,7.1
				c-2.4,2.4-4.5,4.8-6.3,7.1c-6.4,8.3-8.4,15.5-5.4,20c1.3,2.1,4.4,4.6,11,4.6c4.3,0,9.6-1.1,15.3-3c0.5,2.1,1.1,4,1.8,5.9
				c3.5,9.9,8.5,15.4,13.9,15.4S81.8,115,85.3,105c0.7-1.8,1.2-3.8,1.8-5.9c5.7,1.9,11,3,15.3,3c6.7,0,9.7-2.5,11-4.6
				C116.3,93,114.4,85.9,108,77.5z M102.4,42.7c2.7,0,6.2,0.5,7.6,2.7c2.5,3.9-1.5,12.4-11,21.9c-1.7-1.9-4.9-5.1-9.1-8
				c-0.4-4.9-1.1-9.5-2-13.8C93.4,43.7,98.3,42.7,102.4,42.7z M85.6,56.8c-0.6-0.3-1.1-0.6-1.7-0.8c-0.7-0.5-1.5-1-2.2-1.5
				c-2-1.3-4-2.5-6.1-3.7c2.9-1.4,5.7-2.7,8.5-3.8C84.7,50,85.2,53.3,85.6,56.8z M71.4,24.4c4.3,0,8.9,7,11.9,18.6
				c-3.8,1.5-7.8,3.3-11.9,5.4c-4-2.1-8-4-11.9-5.4C62.5,31.4,67.1,24.4,71.4,24.4z M71.4,53c-0.1,0-0.1,0-0.2,0
				C71.3,53,71.3,53,71.4,53C71.4,53,71.4,53,71.4,53z M58.6,47c2.8,1.1,5.6,2.4,8.5,3.8c-2,1.2-4,2.4-6.1,3.7
				c-0.9,0.6-1.9,1.2-2.8,1.9c-0.4,0.2-0.8,0.4-1.2,0.6C57.5,53.4,58,50,58.6,47z M37.9,60.8c-5.2-6.7-7.1-12.4-5.2-15.4
				c1.5-2.3,5-2.7,7.6-2.7c4,0,9,1,14.4,2.9c-0.9,4.3-1.6,9-2,14c-4.2,2.9-7.3,6.1-9,7.9C41.6,65.2,39.6,63,37.9,60.8z M40.4,98.1
				c-2.7,0-6.2-0.5-7.6-2.7c-1.9-2.9,0-8.7,5.2-15.4c1.6-2.1,3.6-4.3,5.7-6.5c1.6,1.8,4.9,5.1,9.2,8.1c0.4,4.8,1,9.4,1.9,13.6
				C49.3,97.1,44.4,98.1,40.4,98.1z M57.1,84.3c0.9,0.5,1.8,0.9,2.7,1.3c0.4,0.3,0.8,0.5,1.2,0.8c2,1.3,4,2.5,6.1,3.7
				c-2.9,1.4-5.7,2.7-8.5,3.8C58,90.9,57.5,87.7,57.1,84.3z M71.4,116.4c-4.3,0-8.9-7-11.9-18.6c3.8-1.5,7.8-3.3,11.9-5.4
				c4,2.1,8,4,11.9,5.4C80.3,109.4,75.7,116.4,71.4,116.4z M84.1,93.9c-2.8-1.1-5.6-2.4-8.5-3.8c2-1.2,4-2.4,6.1-3.7
				c0.3-0.2,0.5-0.4,0.8-0.5c1.1-0.4,2.1-0.9,3.1-1.4C85.2,87.8,84.7,90.9,84.1,93.9z M71.5,83.1c-11,0-20.4-8.9-23.8-12.5
				C51.1,66.9,60.4,58,71.5,58c11,0,20.4,8.9,23.7,12.5C91.9,74.2,82.6,83.1,71.5,83.1z M110,95.4c-1.5,2.3-5,2.7-7.6,2.7
				c-4,0-9-1-14.4-2.9c0.9-4.2,1.5-8.7,1.9-13.5c4.4-3,7.6-6.3,9.3-8.2C108.5,83.1,112.5,91.5,110,95.4z"/>
			<circle fill="#{$red}" cx="70.8" cy="71" r="8.9"/>
		</g>
		<path fill="#{$red}" d="M70.7,139.2c-37.8,0-68.5-30.7-68.5-68.5c0-37.8,30.7-68.5,68.5-68.5s68.5,30.7,68.5,68.5
			C139.2,108.5,108.5,139.2,70.7,139.2z M70.7,9.3C36.9,9.3,9.3,36.9,9.3,70.7c0,33.8,27.5,61.4,61.4,61.4s61.4-27.5,61.4-61.4
			C132.1,36.9,104.5,9.3,70.7,9.3z"/>
	</g>
</g>
</svg>
');
	background-repeat: no-repeat;

	&:hover {
// 			background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 109.3 109.3" enable-background="new 0 0 109.3 109.3" xml:space="preserve"><g><g>
// 		<path fill="#{$redhover}" d="M83.5,59.9c-1.4-1.8-3.1-3.7-4.9-5.5c1.8-1.8,3.5-3.7,4.9-5.5c5-6.5,6.5-12,4.2-15.5
// 			c-1-1.6-3.4-3.5-8.5-3.5c-3.3,0-7.4,0.8-11.9,2.3c-0.4-1.6-0.9-3.1-1.4-4.5c-2.7-7.7-6.5-11.9-10.8-11.9s-8.1,4.2-10.8,11.9
// 			c-0.5,1.4-1,2.9-1.4,4.5c-4.4-1.5-8.5-2.3-11.9-2.3c-5.2,0-7.5,1.9-8.5,3.5c-2.3,3.5-0.8,9.1,4.2,15.5c1.4,1.8,3.1,3.7,4.9,5.5
// 			c-1.8,1.8-3.5,3.7-4.9,5.5c-5,6.5-6.5,12-4.2,15.5c1,1.6,3.4,3.5,8.5,3.5c3.3,0,7.4-0.8,11.9-2.3c0.4,1.6,0.9,3.1,1.4,4.5
// 			c2.7,7.7,6.5,11.9,10.8,11.9s8.1-4.2,10.8-11.9c0.5-1.4,1-2.9,1.4-4.5c4.4,1.5,8.5,2.3,11.9,2.3c5.2,0,7.5-1.9,8.5-3.5
// 			C90,71.9,88.5,66.4,83.5,59.9z M79.2,32.9c2.1,0,4.8,0.4,5.9,2.1c1.9,3-1.2,9.6-8.5,17c-1.3-1.5-3.8-3.9-7.1-6.2
// 			c-0.3-3.8-0.8-7.4-1.5-10.7C72.2,33.7,76,32.9,79.2,32.9z M66.2,43.8c-0.4-0.2-0.9-0.4-1.3-0.6c-0.6-0.4-1.2-0.8-1.7-1.2
// 			c-1.6-1-3.1-2-4.7-2.9c2.2-1.1,4.4-2.1,6.6-3C65.5,38.6,65.9,41.1,66.2,43.8z M55.1,18.8c3.3,0,6.9,5.4,9.2,14.4
// 			c-3,1.1-6.1,2.6-9.2,4.2c-3.1-1.6-6.2-3.1-9.2-4.2C48.2,24.2,51.8,18.8,55.1,18.8z M55.2,41c0,0-0.1,0-0.1,0
// 			C55.1,40.9,55.1,40.9,55.2,41C55.2,40.9,55.2,40.9,55.2,41z M45.3,36.2c2.1,0.8,4.3,1.8,6.6,3c-1.6,0.9-3.1,1.9-4.7,2.9
// 			c-0.7,0.5-1.4,1-2.2,1.4c-0.3,0.1-0.6,0.3-0.9,0.5C44.4,41.2,44.8,38.6,45.3,36.2z M29.2,47c-4-5.2-5.5-9.6-4-11.9
// 			c1.1-1.7,3.8-2.1,5.9-2.1c3.1,0,6.9,0.8,11.2,2.2c-0.7,3.4-1.2,7-1.5,10.8c-3.3,2.2-5.7,4.7-7,6.1C32.1,50.4,30.5,48.7,29.2,47z
// 			 M31.1,75.9c-2.1,0-4.8-0.4-5.9-2.1c-1.5-2.3,0-6.7,4-11.9c1.3-1.7,2.8-3.3,4.4-5c1.3,1.4,3.8,4,7.1,6.3c0.3,3.7,0.8,7.3,1.5,10.5
// 			C38.1,75.1,34.2,75.9,31.1,75.9z M44.1,65.1c0.7,0.4,1.4,0.7,2.1,1c0.3,0.2,0.6,0.4,0.9,0.6c1.6,1,3.1,2,4.7,2.9
// 			c-2.2,1.1-4.4,2.1-6.6,3C44.8,70.3,44.4,67.8,44.1,65.1z M55.1,90.1c-3.3,0-6.9-5.4-9.2-14.4c3-1.1,6.1-2.6,9.2-4.2
// 			c3.1,1.6,6.2,3.1,9.2,4.2C62,84.6,58.5,90.1,55.1,90.1z M65,72.6c-2.1-0.8-4.3-1.8-6.6-3c1.6-0.9,3.1-1.9,4.7-2.9
// 			c0.2-0.1,0.4-0.3,0.6-0.4c0.8-0.3,1.6-0.7,2.4-1.1C65.9,67.9,65.5,70.3,65,72.6z M55.2,64.3c-8.6,0-15.8-6.9-18.4-9.7
// 			c2.6-2.8,9.9-9.7,18.4-9.7c8.6,0,15.8,6.9,18.4,9.7C71,57.4,63.8,64.3,55.2,64.3z M85.1,73.8c-1.1,1.7-3.8,2.1-5.9,2.1
// 			c-3.1,0-6.9-0.8-11.2-2.2c0.7-3.2,1.2-6.8,1.5-10.4c3.4-2.3,5.9-4.9,7.2-6.3C83.9,64.2,87,70.8,85.1,73.8z"/>
// 		<circle fill="#{$redhover}" cx="54.7" cy="54.8" r="6.9"/>
// 	</g>
// 	<path fill="#{$redhover}" d="M54.6,107.7c-29.3,0-53.1-23.8-53.1-53.1c0-29.3,23.8-53.1,53.1-53.1s53.1,23.8,53.1,53.1
// 		C107.7,83.9,83.9,107.7,54.6,107.7z M54.6,7.1C28.4,7.1,7.1,28.4,7.1,54.6c0,26.2,21.3,47.6,47.6,47.6s47.6-21.3,47.6-47.6
// 		C102.2,28.4,80.9,7.1,54.6,7.1z"/>
// </g>
// </svg>
// ');
	}
}


.icon-telescope {
	width: 111px; height: 111px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 111 111" enable-background="new 0 0 111 111" xml:space="preserve"><g>
	<path fill="#{$darkred}" d="M72.5,36.2c-1.3-1.3-2.9-2-4.5-2.1l6.7,6.7C74.5,39,73.8,37.4,72.5,36.2z"/>
	<path fill="#{$darkred}" d="M55.5,2C26,2,2,26,2,55.5S26,109,55.5,109S109,85,109,55.5S85,2,55.5,2z M55.5,103.4
		c-6.7,0-13-1.4-18.8-3.8c4.5-0.6,8.7-2.6,12-5.9c6.9-6.9,8-17.5,2.9-25.6c2.1-3.1,1.7-7.3-1-10.1c-3.1-3.1-8.2-3.1-11.3,0
		c-3.1,3.1-3.1,8.2,0,11.3c2.4,2.4,5.8,2.9,8.7,1.7c3.7,6.3,2.7,14.3-2.5,19.5c-3,3-7.1,4.7-11.4,4.7c-3.6,0-6.9-1.2-9.7-3.3
		C14.2,83.1,7.6,70.1,7.6,55.5c0-26.4,21.5-47.9,47.9-47.9s47.9,21.5,47.9,47.9S81.9,103.4,55.5,103.4z M48.6,65.9l-1.2,1.2
		l-5.9-5.9l1.2-1.2L48.6,65.9z"/>

		<rect x="57" y="35.4" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 77.6218 121.3698)" fill="#{$darkred}" width="14" height="18.4"/>
	<polygon fill="#{$darkred}" points="27.6,75 24.5,71.8 22.5,73.8 30.8,82.1 30.8,82.1 31.6,82.9 35.9,78.5 30,72.6 	"/>
	<path fill="#{$darkred}" d="M46.2,54.8c1.9,0.3,3.7,1.1,5.1,2.5c1.3,1.3,2.2,3,2.5,4.9l5.4-5.4l-7.5-7.5L46.2,54.8z"/>
	<path fill="#{$darkred}" d="M30.8,70.3l7.5,7.5l5.3-5.3c-1.8-0.3-3.5-1.2-4.9-2.5c-1.4-1.4-2.3-3.2-2.5-5.1L30.8,70.3z"/>
	<circle fill="#{$darkred}" cx="80.3" cy="27.8" r="1.7"/>
	<circle fill="#{$darkred}" cx="32.3" cy="32.9" r="1"/>
	<circle fill="#{$darkred}" cx="73.4" cy="66.3" r="1"/>
	<circle fill="#{$darkred}" cx="22.2" cy="54.6" r="0.6"/>
	<circle fill="#{$darkred}" cx="62.5" cy="91.1" r="0.6"/>
	<circle fill="#{$darkred}" cx="43.1" cy="45.1" r="0.9"/>
	<circle fill="#{$darkred}" cx="88.9" cy="60.6" r="0.9"/>
	<circle fill="#{$darkred}" cx="28.4" cy="44.2" r="1.5"/>
	<circle fill="#{$darkred}" cx="52.4" cy="26.3" r="1.5"/>
	<circle fill="#{$darkred}" cx="79.6" cy="82.9" r="1.5"/>
	<circle fill="#{$darkred}" cx="44.3" cy="19.4" r="0.6"/>
	<circle fill="#{$darkred}" cx="62.9" cy="17.8" r="0.6"/>
	<circle fill="#{$darkred}" cx="62.9" cy="75.2" r="0.6"/>
</g>
</svg>
');
	background-repeat: no-repeat;

	&:hover {
		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 111 111" enable-background="new 0 0 111 111" xml:space="preserve"><g>
	<path fill="#{$redhover}" d="M72.5,36.2c-1.3-1.3-2.9-2-4.5-2.1l6.7,6.7C74.5,39,73.8,37.4,72.5,36.2z"/>
	<path fill="#{$redhover}" d="M55.5,2C26,2,2,26,2,55.5S26,109,55.5,109S109,85,109,55.5S85,2,55.5,2z M55.5,103.4
		c-6.7,0-13-1.4-18.8-3.8c4.5-0.6,8.7-2.6,12-5.9c6.9-6.9,8-17.5,2.9-25.6c2.1-3.1,1.7-7.3-1-10.1c-3.1-3.1-8.2-3.1-11.3,0
		c-3.1,3.1-3.1,8.2,0,11.3c2.4,2.4,5.8,2.9,8.7,1.7c3.7,6.3,2.7,14.3-2.5,19.5c-3,3-7.1,4.7-11.4,4.7c-3.6,0-6.9-1.2-9.7-3.3
		C14.2,83.1,7.6,70.1,7.6,55.5c0-26.4,21.5-47.9,47.9-47.9s47.9,21.5,47.9,47.9S81.9,103.4,55.5,103.4z M48.6,65.9l-1.2,1.2
		l-5.9-5.9l1.2-1.2L48.6,65.9z"/>

		<rect x="57" y="35.4" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 77.6218 121.3698)" fill="#{$redhover}" width="14" height="18.4"/>
	<polygon fill="#{$redhover}" points="27.6,75 24.5,71.8 22.5,73.8 30.8,82.1 30.8,82.1 31.6,82.9 35.9,78.5 30,72.6 	"/>
	<path fill="#{$redhover}" d="M46.2,54.8c1.9,0.3,3.7,1.1,5.1,2.5c1.3,1.3,2.2,3,2.5,4.9l5.4-5.4l-7.5-7.5L46.2,54.8z"/>
	<path fill="#{$redhover}" d="M30.8,70.3l7.5,7.5l5.3-5.3c-1.8-0.3-3.5-1.2-4.9-2.5c-1.4-1.4-2.3-3.2-2.5-5.1L30.8,70.3z"/>
	<circle fill="#{$redhover}" cx="80.3" cy="27.8" r="1.7"/>
	<circle fill="#{$redhover}" cx="32.3" cy="32.9" r="1"/>
	<circle fill="#{$redhover}" cx="73.4" cy="66.3" r="1"/>
	<circle fill="#{$redhover}" cx="22.2" cy="54.6" r="0.6"/>
	<circle fill="#{$redhover}" cx="62.5" cy="91.1" r="0.6"/>
	<circle fill="#{$redhover}" cx="43.1" cy="45.1" r="0.9"/>
	<circle fill="#{$redhover}" cx="88.9" cy="60.6" r="0.9"/>
	<circle fill="#{$redhover}" cx="28.4" cy="44.2" r="1.5"/>
	<circle fill="#{$redhover}" cx="52.4" cy="26.3" r="1.5"/>
	<circle fill="#{$redhover}" cx="79.6" cy="82.9" r="1.5"/>
	<circle fill="#{$redhover}" cx="44.3" cy="19.4" r="0.6"/>
	<circle fill="#{$redhover}" cx="62.9" cy="17.8" r="0.6"/>
	<circle fill="#{$redhover}" cx="62.9" cy="75.2" r="0.6"/>
</g>
</svg>
');
	}
}


.icon-twitter {
	width: 54px; height: 54px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53.3 53.3" enable-background="new 0 0 53.3 53.3" xml:space="preserve"><path fill="#{$grey}" d="M26.6,0.6c-14.4,0-26,11.7-26,26s11.7,26,26,26s26-11.7,26-26S41,0.6,26.6,0.6z M35.7,26.7
	c-1.9,8-14.9,11.4-20.9,3.1c2.3,2.2,6.3,2.4,8.8-0.2c-1.5,0.2-2.6-1.3-0.7-2.1c-1.6,0.2-2.5-0.7-2.9-1.5c0.4-0.4,0.8-0.6,1.6-0.7
	c-1.8-0.4-2.5-1.3-2.7-2.4c0.5-0.1,1.1-0.2,1.5-0.2c-1.6-0.8-2.1-2.1-2-3c2.8,1.1,4.6,1.9,6.1,2.7c0.5,0.3,1.1,0.8,1.8,1.5
	c0.8-2.3,1.9-4.7,3.7-5.8c0,0.3-0.2,0.5-0.4,0.7c0.5-0.5,1.2-0.8,1.9-0.9c-0.1,0.5-0.8,0.8-1.2,1c0.3-0.1,2.1-0.9,2.3-0.5
	c0.2,0.5-1.2,0.8-1.5,0.9c-0.2,0.1-0.4,0.1-0.6,0.2c2.3-0.2,4.4,1.7,5,4c0,0.2,0.1,0.4,0.1,0.6c0.8,0.3,2.3,0,2.8-0.3
	c-0.4,0.8-1.3,1.5-2.6,1.6c0.6,0.3,1.9,0.4,2.7,0.3C38,26.2,37.1,26.7,35.7,26.7z"/>
</svg>
');
	background-repeat: no-repeat;

	&:hover {
// 		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 53.3 53.3" enable-background="new 0 0 53.3 53.3" xml:space="preserve"><path fill="#{$redhover}" d="M26.6,0.6c-14.4,0-26,11.7-26,26s11.7,26,26,26s26-11.7,26-26S41,0.6,26.6,0.6z M35.7,26.7
// 	c-1.9,8-14.9,11.4-20.9,3.1c2.3,2.2,6.3,2.4,8.8-0.2c-1.5,0.2-2.6-1.3-0.7-2.1c-1.6,0.2-2.5-0.7-2.9-1.5c0.4-0.4,0.8-0.6,1.6-0.7
// 	c-1.8-0.4-2.5-1.3-2.7-2.4c0.5-0.1,1.1-0.2,1.5-0.2c-1.6-0.8-2.1-2.1-2-3c2.8,1.1,4.6,1.9,6.1,2.7c0.5,0.3,1.1,0.8,1.8,1.5
// 	c0.8-2.3,1.9-4.7,3.7-5.8c0,0.3-0.2,0.5-0.4,0.7c0.5-0.5,1.2-0.8,1.9-0.9c-0.1,0.5-0.8,0.8-1.2,1c0.3-0.1,2.1-0.9,2.3-0.5
// 	c0.2,0.5-1.2,0.8-1.5,0.9c-0.2,0.1-0.4,0.1-0.6,0.2c2.3-0.2,4.4,1.7,5,4c0,0.2,0.1,0.4,0.1,0.6c0.8,0.3,2.3,0,2.8-0.3
// 	c-0.4,0.8-1.3,1.5-2.6,1.6c0.6,0.3,1.9,0.4,2.7,0.3C38,26.2,37.1,26.7,35.7,26.7z"/>
// </svg>
// ');
	}
}

.icon-br-large {
	width: 142px; height: 142px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 141.3 141.3" enable-background="new 0 0 141.3 141.3" xml:space="preserve">
<g>
	<g>
		<path fill="#{$red}" d="M70.7,139C33,139,2.3,108.4,2.3,70.7S33,2.3,70.7,2.3S139,33,139,70.7S108.4,139,70.7,139z M70.7,10.8
			c-33,0-59.8,26.8-59.8,59.8s26.8,59.8,59.8,59.8s59.8-26.8,59.8-59.8S103.7,10.8,70.7,10.8z"/>
		<path fill="#{$red}" d="M47.9,68.6c4.7-8.7,10.4-13.1,16.4-13.1c9.1,0,13.7,7,13.7,16.7C78,86.8,66.4,104,49.2,104
			c-12.2,0-18.5-7-18.5-17.2c0-4.1,1.3-10,3.4-17.8l9.3-34.4l13.2,0.1h1.1L47.9,68.6z M44.6,89.4c0,5.1,2.2,7.6,5.2,7.6
			c8,0,13.3-16.5,13.3-24.5c0-5.3-1.9-7.7-5.1-7.7C50.9,64.9,44.6,80,44.6,89.4z"/>
		<path fill="#{$red}" d="M82.1,56.4l12.2-0.3c0,0-1,5.8-2.3,10.3c0,0,5-10.4,16.4-10.1c4.8,0.1,8.5,3.7,8.5,8.8
			c0,5.4-5.3,12.2-12.7,9c-0.3-0.1-0.6-0.5-0.4-0.8c1.5-2.2,2.4-4.7,1.9-6.8c-0.2-1-1.2-1.9-3-1.6c-6,0.7-11.3,7.7-17.7,38.9H70.5
			L82.1,56.4z"/>
	</g>
</g>
</svg>');
}
.icon-rocket {
	//width: 108px; height: 164px;
	width: 139px; height: 212px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 138.9 211.3" enable-background="new 0 0 138.9 211.3" xml:space="preserve">
<g>
	<g>
		<g>
			<path fill="#{$red}" d="M46.1,168.4c-11.6-5.1-21.2-13.7-27.5-25c-7.6-13.6-9.4-29.3-5.1-44.2c6.3-22.3,25.2-38.4,47.6-41.7
				c1.1-3.5,2.3-6.8,3.7-10.1c-28.2,2-52.6,21.5-60.5,49.1c-9.7,33.9,8.4,69.3,40.7,81.8L46.1,168.4z"/>
			<path fill="#{$red}" d="M112.4,62.6c-0.6,3.6-1.5,7.1-2.4,10.7c14.9,14.5,21.5,36.4,15.5,57.7c-7.2,25.3-30.6,42.7-56.8,42.3
				c-1.5,0-2.9-0.1-4.4-0.2l-4.3,9.2c2.8,0.4,5.7,0.6,8.6,0.7c30.6,0.5,57.8-19.8,66.2-49.3C142.3,106.9,132.7,79.2,112.4,62.6z"/>
		</g>
		<path fill="#{$red}" d="M68.8,121.2c-3.5-0.8-7,1.5-7.8,5l-17.5,81.1c-0.1,0.6,0.2,1.2,0.8,1.4c0.6,0.2,1.3-0.1,1.5-0.7l27.8-78.2
			c0.1-0.3,0.2-0.5,0.2-0.8C74.6,125.5,72.3,122,68.8,121.2z M68.4,128.2C68.4,128.3,68.4,128.3,68.4,128.2l-8.3,26.5
			c0,0.1-0.1,0.2-0.3,0.1c-0.1,0-0.2-0.1-0.1-0.2l6.5-26.9c0.1-0.6,0.7-1,1.3-0.8C68.1,127,68.5,127.6,68.4,128.2z"/>
		<path fill="#{$red}" d="M103.4,2.5c0,0-25,23.8-35.1,59.2C66.3,68.9,65,76.1,64.3,83c-5.1,5.7-10.2,12.4-14.6,20.2
			c-4.8,8.5-8.2,17.3-10.6,25.5c-0.6,1.9,1.6,3.1,2.8,1.5c7.5-9.5,15.5-16.7,21.9-21.8c0.2,2.3,0.3,4.5,0.6,6.6c0,0,0.1,0,0.1-0.1
			c0,0,0.1,0,0.1-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1-0.1,0.3-0.1,0.5-0.2c0.1,0,0.2-0.1,0.2-0.1
			c0.3-0.1,0.5-0.2,0.9-0.3c0,0,0,0,0,0c0.3-0.1,0.6-0.2,1-0.2c0.1,0,0.2,0,0.3-0.1c0.3,0,0.5-0.1,0.8-0.1c0.1,0,0.3,0,0.4,0
			c0.3,0,0.6,0,0.9,0c0.1,0,0.3,0,0.4,0c0.4,0.1,0.8,0.1,1.3,0.3c3.7,1.2,5.5,4.7,5.5,4.7c0.9-1.2,1.9-2.5,2.9-3.8
			c2.3,7.4,4.7,17,6,27.9c0.2,1.9,2.6,2,3.2,0.1c2.3-8.2,5.3-17.1,5.7-26.9c0.3-8.2-0.3-16-1.5-23.1c3.3-6.6,6.3-13.9,8.5-21.8
			C112.1,35.9,103.4,2.5,103.4,2.5z M83.6,50.8c0.7-2.5,3-4.3,5.7-4.2l0,0l0,0l0,0c0.3,0,0.9,0,1.5,0.2L87.6,58
			C84.5,57.1,82.7,53.9,83.6,50.8z M97.8,70c-4.9,17.2-13.5,31.6-20.8,41.7c-1.1-0.8-2.3-1.5-3.8-2c4.5-16.6,9.2-33.3,13.6-48.9
			c0,0,0,0,0,0c0.8,0.2,1.5,0.3,2.3,0.3c3.9,0.1,7.4-2.5,8.5-6.3c1.3-4.6-1.4-9.5-6-10.8c0,0,0,0,0,0c3.4-11.9,6.5-22.8,9.2-32
			C102.5,23.8,104.5,46.5,97.8,70z"/>
	</g>
</g>
</svg>');
	background-repeat: no-repeat;

	&:hover {
// 		background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 107.6 163.6" enable-background="new 0 0 107.6 163.6" xml:space="preserve"><g><g>
// 		<path fill="#{$redhover}" d="M35.7,130.4c-9-3.9-16.4-10.6-21.3-19.4c-5.9-10.5-7.3-22.7-4-34.3C15.3,59.5,30,47,47.3,44.5
// 			c0.9-2.7,1.8-5.3,2.8-7.8C28.2,38.2,9.3,53.3,3.2,74.8c-7.5,26.3,6.5,53.7,31.6,63.4L35.7,130.4z"/>
// 		<path fill="#{$redhover}" d="M87,48.4c-0.5,2.8-1.1,5.5-1.9,8.3c11.5,11.2,16.7,28.2,12,44.7c-5.6,19.6-23.7,33.1-44,32.8
// 			c-1.1,0-2.3-0.1-3.4-0.2l-3.4,7.1c2.2,0.3,4.4,0.5,6.6,0.5c23.7,0.4,44.8-15.3,51.3-38.2C110.2,82.8,102.7,61.3,87,48.4z"/>
// 	</g>
// 	<path fill="#{$redhover}" d="M53.2,93.9c-2.7-0.6-5.4,1.2-6,3.9l-13.6,62.9c-0.1,0.4,0.2,0.9,0.6,1.1c0.5,0.2,1-0.1,1.2-0.6L57,100.5
// 		c0.1-0.2,0.1-0.4,0.2-0.6C57.7,97.1,56,94.5,53.2,93.9z M52.9,99.3C52.9,99.3,52.9,99.3,52.9,99.3l-6.4,20.6c0,0.1-0.1,0.1-0.2,0.1
// 		c-0.1,0-0.1-0.1-0.1-0.2l5-20.9c0.1-0.5,0.6-0.7,1-0.6C52.8,98.4,53,98.8,52.9,99.3z"/>
// 	<path fill="#{$redhover}" d="M80.1,1.8c0,0-19.4,18.5-27.2,45.8c-1.6,5.7-2.6,11.2-3.1,16.5c-4,4.4-7.9,9.6-11.3,15.6
// 		c-3.7,6.6-6.3,13.4-8.2,19.7c-0.4,1.5,1.2,2.4,2.1,1.2c5.8-7.3,12-12.9,17-16.9c0.1,1.8,0.3,3.5,0.4,5.1c0,0,0,0,0.1-0.1
// 		c0,0,0.1,0,0.1,0c0.1,0,0.1-0.1,0.2-0.1c0,0,0.1,0,0.2-0.1c0.1,0,0.2-0.1,0.4-0.1c0.1,0,0.1-0.1,0.2-0.1c0.2-0.1,0.4-0.2,0.7-0.2
// 		c0,0,0,0,0,0c0.2-0.1,0.5-0.1,0.8-0.2c0.1,0,0.2,0,0.3,0c0.2,0,0.4-0.1,0.6-0.1c0.1,0,0.2,0,0.3,0c0.2,0,0.4,0,0.7,0
// 		c0.1,0,0.2,0,0.3,0c0.3,0,0.7,0.1,1,0.2c2.9,0.9,4.3,3.6,4.3,3.6c0.7-0.9,1.5-1.9,2.2-2.9c1.8,5.7,3.7,13.1,4.6,21.6
// 		c0.2,1.5,2,1.6,2.4,0.1c1.8-6.4,4.1-13.3,4.4-20.8c0.3-6.3-0.2-12.4-1.1-17.9c2.5-5.1,4.9-10.8,6.6-16.9
// 		C86.8,27.8,80.1,1.8,80.1,1.8z M64.7,39.3c0.6-2,2.4-3.3,4.4-3.3h0h0l0,0c0.3,0,0.7,0,1.2,0.2l-2.5,8.7
// 		C65.4,44.2,64.1,41.7,64.7,39.3z M75.7,54.2c-3.8,13.3-10.5,24.5-16.1,32.3c-0.8-0.6-1.8-1.2-2.9-1.5c3.5-12.9,7.1-25.8,10.5-37.9
// 		c0,0,0,0,0,0c0.6,0.2,1.2,0.3,1.8,0.3c3,0,5.8-1.9,6.6-4.9c1-3.6-1.1-7.3-4.7-8.4c0,0,0,0,0,0c2.6-9.2,5.1-17.7,7.1-24.8
// 		C79.4,18.4,80.9,36,75.7,54.2z"/>
// </g>
// </svg>');
	}
}

.icon-r-arrow-btn {
	display: block;
	@extend .image-replacement;
	width: 46px; height: 46px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 46 45.7" enable-background="new 0 0 46 45.7" xml:space="preserve"><rect x="0" y="0" fill="#{$red}" width="46" height="45.7"/><g><path fill="#9F0000" d="M19.9,9.6h-2.7c-1.2,0-1.8,1.4-1,2.3l8.8,9.2c0.5,0.5,0.5,1.3,0,1.9l-8.4,8.8c-0.8,0.9-0.2,2.3,1,2.3h2.7
		c0.4,0,0.7-0.2,1-0.4L31.5,23c0.5-0.5,0.5-1.3,0-1.9L20.9,10.1C20.6,9.8,20.3,9.6,19.9,9.6z"/></g></svg>');
	background-repeat: no-repeat;

	&:hover, .button-one:hover & {
			background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 46 45.7" enable-background="new 0 0 46 45.7" xml:space="preserve"><rect x="0" y="0" fill="#{$redhover}" width="46" height="45.7"/><g><path fill="#{$red}" d="M19.9,9.6h-2.7c-1.2,0-1.8,1.4-1,2.3l8.8,9.2c0.5,0.5,0.5,1.3,0,1.9l-8.4,8.8c-0.8,0.9-0.2,2.3,1,2.3h2.7
		c0.4,0,0.7-0.2,1-0.4L31.5,23c0.5-0.5,0.5-1.3,0-1.9L20.9,10.1C20.6,9.8,20.3,9.6,19.9,9.6z"/></g></svg>');
	}
	&:active, &:focus, .button-one:active &, .button-one:focus & {
			background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 46 45.7" enable-background="new 0 0 46 45.7" xml:space="preserve"><rect x="0" y="0" fill="#{$redhover}" width="46" height="45.7"/><g><path fill="#{$red}" d="M19.9,9.6h-2.7c-1.2,0-1.8,1.4-1,2.3l8.8,9.2c0.5,0.5,0.5,1.3,0,1.9l-8.4,8.8c-0.8,0.9-0.2,2.3,1,2.3h2.7
		c0.4,0,0.7-0.2,1-0.4L31.5,23c0.5-0.5,0.5-1.3,0-1.9L20.9,10.1C20.6,9.8,20.3,9.6,19.9,9.6z"/></g></svg>');
	}
}