
.facebook-large {
	width: 48px;
	height: 48px;
	background-position: -0px 0;
}

.instagram-large {
	width: 48px;
	height: 48px;
	background-position: -78px 0;
}

.twitter-large {
	width: 48px;
	height: 48px;
	background-position: -156px 0;
}

.facebook-large,
.instagram-large,
.twitter-large {
	background-image: url(../img/sprites/icon-large-sprite.png);
	background-size: 234px 59px;
}

.facebook-small {
	width: 16px;
	height: 16px;
	background-position: -0px 0;
}

.instagram-small {
	width: 16px;
	height: 16px;
	background-position: -26px 0;
}

.twitter-small {
	width: 16px;
	height: 16px;
	background-position: -52px 0;
}

.facebook-small,
.instagram-small,
.twitter-small {
	background-image: url(../img/sprites/icon-small-sprite.png);
	background-size: 78px 20px;
}

.svg .facebook-large,
.svg .instagram-large,
.svg .twitter-large,
.svg .facebook-small,
.svg .instagram-small,
.svg .twitter-small {
	background-image: url(../img/sprites/icon-sprite.svg);
}
